<div class="nbp-breadcrumb-one-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <ol class="nbp-breadcrumb">
          <li class="nbp-breadcrumb-navigation nbp-cursor-pointer">
            <a routerLink="/" routerLinkActive="active"
              class="nbp-breadcrumb-link nbp-color-primary nbp-text-decoration-none">Home Page</a>
          </li>
          <li class="nbp-breadcrumb-navigation nbp-cursor-pointer">
            <a routerLink="/composants" routerLinkActive="active"
              class="nbp-breadcrumb-link nbp-color-primary nbp-text-decoration-none">All Composants</a>
          </li>
          <li class="nbp-breadcrumb-navigation">Input Text</li>
        </ol>
      </div>
    </div>
  </div>
</div>