<div class="nbp-change-password-wrapper">
  <div class="nbp-change-password-container container my-3">
    <div class="nbp-change-password-title">
      <h2 class="nbp-color-primary nbp-change-password-title-one">System</h2>
      <h6 class="nbp-color-white nbp-change-password-title-two">Nbp</h6>
    </div>
    <div class="row nbp-change-password-row">
      <div
        class="col-md-5 nbp-change-password-content"
        *ngIf="!nbpChangePasswordSuccess">
        <nbp-alert-box-fourth
          *ngIf="!!nbpRegisterErrorMessage.length"
          [nbpAlertText]="nbpRegisterErrorMessage"
          [nbpAlertType]="_alert.ERROR">
        </nbp-alert-box-fourth>
        <nbp-alert-box-three *ngIf="nbpCheckPassword"
        [nbpAlertText]="nbpCheckPasswordErrorMessage"
        [nbpAlertType]="_alert.ERROR">
      </nbp-alert-box-three>
        <form *ngIf="nbpCheckTemporalPassword">
          <div class="form-group nbp-text-align-center">
            <h4 class="nbp-color-default">Need help with your password ?</h4>
            <p class="nbp-p3 nbp-color-default">
              Enter the email address you use on Nbp System and we'll help you
              create a new password.
            </p>
          </div>
          <div class="form-group">
            <nbp-input-text 
            [nbpInputLabel]="_model.component.NbpAuthComponent.emailInput.label"
            [nbpInputName]="_model.component.NbpAuthComponent.emailInput.name" 
            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.emailInput.required" 
            [nbpInputRequired]="true" 
            [nbpInputBorderType]="_style.ROUNDED"
            [nbpInputErrorMessage]="_model.component.NbpAuthComponent.emailInput.requiredMessage" 
            [nbpInputPlaceholder]="_model.component.NbpAuthComponent.emailInput.placeholder" 
            [nbpInputIcon]="_model.component.NbpAuthComponent.emailInput.icon"
            [nbpInputIconRequired]="true"
            (nbpInputModel)="nbpInputModelEmails($event)">
            </nbp-input-text>
          </div>
          <div class="form-group">
            <div class="row pt-3">
              <div class="col-6">
                <nbp-button 
                [nbpButtonLabel]="_model.component.NbpAuthComponent.submitInput.success" 
                [nbpButtonSize]="_size.MD" 
                [nbpButtonColor]="_style.PRIMARY" 
                [nbpButtonType]="_style.ROUNDED"
                [nbpButtonFullWidth]="true" 
                (click)="nbpGoBackToLogin()">
                </nbp-button>
              </div>
              <div class="col-6">
                <nbp-button class="nbp-login-submit" 
                [nbpButtonLabel]="_model.component.NbpAuthComponent.submitInput.showPassword" 
                [nbpButtonSize]="_size.MD" 
                [nbpButtonColor]="_style.PRIMARY" 
                [nbpButtonType]="_style.ROUNDED"
                [nbpButtonFullWidth]="true" 
                [nbpButtonDisabled]="nbpRegisterDisabled" 
                (click)="nbpShowPassword()">
                </nbp-button>
              </div>
            </div>
          </div>
          <nbp-dividing-line-one 
          [nbpTitle]="'You don\'t remenber your password ?'" 
          [nbpColorStyle]="_style.DEFAULT">
          </nbp-dividing-line-one>
          <div class="form-group pt-3">
            <nbp-button
              [nbpButtonLabel]="'Reset your password'"
              [nbpButtonSize]="_size.MD"
              [nbpButtonColor]="_style.PRIMARYHOVER"
              [nbpButtonType]="_style.OUTLINE"
              [nbpButtonForm]="_style.ROUNDED"
              [nbpButtonFullWidth]="true"
              (click)="nbpChangePassword()"
            >
            </nbp-button>
          </div>
        </form>
        <form *ngIf="nbpChangeTemporalPassword">
          <div class="form-group">
            <div class="form-group nbp-text-align-center">
              <h4 class="nbp-color-default">Reset your password ?</h4>
              <p class="nbp-p3 nbp-color-default">
                Enter the email address you use on Nbp System and we'll help you
                create a new password.
              </p>
            </div>
          </div>
          <div class="form-group">
            <nbp-input-text
              [nbpInputLabel]="
                _model.component.NbpAuthComponent.emailInput.label
              "
              [nbpInputName]="_model.component.NbpAuthComponent.emailInput.name"
              [nbpInputLabelRequired]="
                _model.component.NbpAuthComponent.emailInput.required
              "
              [nbpInputRequired]="true"
              [nbpInputBorderType]="_style.ROUNDED"
              [nbpInputErrorMessage]="
                _model.component.NbpAuthComponent.emailInput.requiredMessage
              "
              [nbpInputPlaceholder]="
                _model.component.NbpAuthComponent.emailInput.placeholder
              "
              [nbpInputIcon]="_model.component.NbpAuthComponent.emailInput.icon"
              [nbpInputIconRequired]="true"
              (nbpInputModel)="nbpInputModels($event)"
            >
            </nbp-input-text>
          </div>
          <div class="form-group">
            <nbp-input-password 
            [nbpInputLabel]="_model.component.NbpAuthComponent.passwordInput.label" 
            [nbpInputName]="_model.component.NbpAuthComponent.passwordInput.name" 
            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.passwordInput.required" 
            [nbpInputRequired]="true" 
            [nbpInputBorderType]="_style.ROUNDED" 
            [nbpInputErrorMessage]="_model.component.NbpAuthComponent.passwordInput.requiredMessage" 
            [nbpInputPlaceholder]="_model.component.NbpAuthComponent.passwordInput.placeholder" 
            [nbpInputIcon]="_model.component.NbpAuthComponent.passwordInput.hidePassword" 
            [nbpInputIconRequired]="true" 
            (nbpInputModel)="nbpInputModels($event)">
            </nbp-input-password>
          </div>
          <div class="form-group">
            <nbp-input-password 
            [nbpInputLabel]="_model.component.NbpAuthComponent.confirmPasswordInput.label2" 
            [nbpInputName]="_model.component.NbpAuthComponent.confirmPasswordInput.name" 
            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.confirmPasswordInput.required" 
            [nbpInputRequired]="true" 
            [nbpInputBorderType]="_style.ROUNDED" 
            [nbpInputErrorMessage]="_model.component.NbpAuthComponent.confirmPasswordInput.requiredMessage" 
            [nbpInputPlaceholder]="_model.component.NbpAuthComponent.confirmPasswordInput.placeholder" 
            [nbpInputIcon]="_model.component.NbpAuthComponent.confirmPasswordInput.hidePassword" 
            [nbpInputIconRequired]="true" 
            (nbpInputModel)="nbpInputModels($event)">
            </nbp-input-password>
          </div>
          <div class="form-group pt-3">
            <nbp-button
              class="nbp-login-submit"
              [nbpButtonLabel]="
                _model.component.NbpAuthComponent.submitInput.resetPassword
              "
              [nbpButtonSize]="_size.MD"
              [nbpButtonColor]="_style.PRIMARY"
              [nbpButtonType]="_style.ROUNDED"
              [nbpButtonFullWidth]="true"
              [nbpButtonDisabled]="nbpRegisterDisabled"
              (click)="nbpChangePasswordSubmit()"
            >
            </nbp-button>
          </div>
          <nbp-dividing-line-one
            [nbpTitle]="'I remember my password'"
            [nbpColorStyle]="_style.DEFAULT"
          >
          </nbp-dividing-line-one>
          <div class="form-group pt-3">
            <nbp-button
              [nbpButtonLabel]="
                _model.component.NbpAuthComponent.submitInput.success
              "
              [nbpButtonSize]="_size.MD"
              [nbpButtonColor]="_style.PRIMARYHOVER"
              [nbpButtonType]="_style.OUTLINE"
              [nbpButtonForm]="_style.ROUNDED"
              [nbpButtonFullWidth]="true"
              (click)="nbpGoBackToLogin()"
            >
            </nbp-button>
          </div>
        </form>
      </div>
      <div class="text-center" *ngIf="nbpChangePasswordSuccess">
        <nbp-feedback
          [nbpTitle]="nbpRegisterSuccessMessage"
          [nbpMessage]="'Your temporal password is :'"
        ></nbp-feedback>
        <nbp-badge-one [nbpBadgeName]="nbpPermanentPassword" [nbpBadgeStyle]="_style.SUCCESS"></nbp-badge-one>
        <div class="my-5">
          <nbp-deep-link
          [nbpDeepLinkStyle]="_style.PRIMARY"
          [nbpDeepLinkName]="
            _model.component.NbpAuthComponent.submitInput.success
          "
          [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
          [nbpDeepLinkRedirection]="'/login'"
          [nbpDeepLinkTarget]="false"
        ></nbp-deep-link>
        </div>
      </div>
    </div>
  </div>
</div>
