<div class="nbp-register-wrapper">
    <div class="nbp-register-container container">
        <div class="row nbp-register-row">
            <div class="col-md-5 nbp-register-content" *ngIf="!nbpRegisterSuccess">
                <nbp-alert-box-fourth 
                *ngIf="!!nbpRegisterErrorMessage.length" 
                [nbpText]="nbpRegisterErrorMessage"
                [nbpAlertType]="_alert.ERROR">
                </nbp-alert-box-fourth>
                <div *ngIf="nbpSwowPasswordSuccess">
                    <nbp-alert-box-one
                    [nbpText]="password"
                    [nbpAlertType]="_alert.POSITIVE">
                    </nbp-alert-box-one>
                </div>
                <form *ngIf="findPassword">
                    <div class="form-group">
                        <nbp-input-text 
                            [nbpInputLabel]="_model.component.NbpAuthComponent.emailInput.label" 
                            [nbpInputName]="_model.component.NbpAuthComponent.emailInput.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.emailInput.required"
                            [nbpInputRequired]="true" 
                            [nbpInputBorderType]="_style.ROUNDED" 
                            [nbpInputErrorMessage]="_model.component.NbpAuthComponent.emailInput.requiredMessage" 
                            [nbpInputPlaceholder]="_model.component.NbpAuthComponent.emailInput.placeholder" 
                            [nbpInputIcon]="_model.component.NbpAuthComponent.emailInput.icon" 
                            [nbpInputIconRequired]="true"
                            (nbpInputModel)="nbpInputModelEmails($event)">
                        </nbp-input-text>
                    </div>
                    <div class="row form-submit">
                        <div class="col-6">
                            <nbp-button 
                            [nbpButtonLabel]="_model.component.NbpAuthComponent.submitInput.back" 
                            [nbpButtonSize]="_size.MD" 
                            [nbpButtonColor]="_style.PRIMARY" 
                            [nbpButtonType]="_style.ROUNDED"
                            [nbpButtonFullWidth]="false" 
                            (click)="nbpGoBackToLogin()">
                        </nbp-button>
                        </div>
                        <div class="col-6">
                            <nbp-button class="nbp-login-submit" 
                            [nbpButtonLabel]="_model.component.NbpAuthComponent.submitInput.register" 
                            [nbpButtonSize]="_size.MD" 
                            [nbpButtonColor]="_style.PRIMARY" 
                            [nbpButtonType]="_style.ROUNDED"
                            [nbpButtonFullWidth]="false" 
                            [nbpButtonDisabled]="nbpRegisterDisabled"
                            (click)="nbpShowPassword()">
                            </nbp-button>
                        </div>
                        <div class="forgotPassword">
                            <a (click)="nbpChangePassword()">you don't remenber? Change your password</a>
                           </div>
                    </div>
                </form>
                <form *ngIf="changePassword">
                    <div class="form-group">
                        <nbp-input-text 
                            [nbpInputLabel]="_model.component.NbpAuthComponent.emailInput.label" 
                            [nbpInputName]="_model.component.NbpAuthComponent.emailInput.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.emailInput.required"
                            [nbpInputRequired]="true" 
                            [nbpInputBorderType]="_style.ROUNDED" 
                            [nbpInputErrorMessage]="_model.component.NbpAuthComponent.emailInput.requiredMessage" 
                            [nbpInputPlaceholder]="_model.component.NbpAuthComponent.emailInput.placeholder" 
                            [nbpInputIcon]="_model.component.NbpAuthComponent.emailInput.icon" 
                            [nbpInputIconRequired]="true"
                            (nbpInputModel)="nbpInputModels($event)">
                        </nbp-input-text>
                    </div>
                    <div class="form-group">
                        <nbp-input-password 
                            [nbpInputLabel]="_model.component.NbpAuthComponent.passwordInput.label2" 
                            [nbpInputName]="_model.component.NbpAuthComponent.passwordInput.name" 
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.passwordInput.required" 
                            [nbpInputRequired]="true" 
                            [nbpInputBorderType]="_style.ROUNDED" 
                            [nbpInputErrorMessage]="_model.component.NbpAuthComponent.passwordInput.requiredMessage"
                            [nbpInputPlaceholder]="_model.component.NbpAuthComponent.passwordInput.placeholder"
                            [nbpInputIcon]="_model.component.NbpAuthComponent.passwordInput.hidePassword"
                            [nbpInputIconRequired]="true" (nbpInputModel)="nbpInputModels($event)">
                    </nbp-input-password>
                    </div>
                    <div class="form-group">
                        <nbp-input-password
                            [nbpInputLabel]="_model.component.NbpAuthComponent.confirmPasswordInput.label2"
                            [nbpInputName]="_model.component.NbpAuthComponent.confirmPasswordInput.name" 
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.confirmPasswordInput.required" 
                            [nbpInputRequired]="true" 
                            [nbpInputBorderType]="_style.ROUNDED" 
                            [nbpInputErrorMessage]="_model.component.NbpAuthComponent.confirmPasswordInput.requiredMessage"
                            [nbpInputPlaceholder]="_model.component.NbpAuthComponent.confirmPasswordInput.placeholder" 
                            [nbpInputIcon]="_model.component.NbpAuthComponent.confirmPasswordInput.hidePassword" 
                            [nbpInputIconRequired]="true" 
                            (nbpInputModel)="nbpInputModels($event)">
                        </nbp-input-password>
                    </div>
                    <div class="row form-submit">
                        <div class="col-6">
                            <nbp-button 
                            [nbpButtonLabel]="_model.component.NbpAuthComponent.submitInput.back" 
                            [nbpButtonSize]="_size.MD" 
                            [nbpButtonColor]="_style.PRIMARY" 
                            [nbpButtonType]="_style.ROUNDED"
                            [nbpButtonFullWidth]="false" 
                            (click)="nbpGoBackToLogin()">
                        </nbp-button>
                        </div>
                        <div class="col-6">
                            <nbp-button class="nbp-login-submit" 
                            [nbpButtonLabel]="_model.component.NbpAuthComponent.submitInput.register" 
                            [nbpButtonSize]="_size.MD" 
                            [nbpButtonColor]="_style.PRIMARY" 
                            [nbpButtonType]="_style.ROUNDED"
                            [nbpButtonFullWidth]="false" 
                            [nbpButtonDisabled]="nbpRegisterDisabled"
                            (click)="nbpChangePasswordSubmit()">
                            </nbp-button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="text-center" *ngIf="nbpRegisterSuccess">
          <nbp-feedback [nbpTitle]="nbpRegisterSuccessMessage"> </nbp-feedback>
          <nbp-deep-link [nbpDeepLinkStyle]="_style.PRIMARY" [nbpDeepLinkName]="
              _model.component.NbpAuthComponent.submitInput.success
            " [nbpDeepLinkTextTransform]="_pipe.UPPERCASE" [nbpDeepLinkRedirection]="'/login'"
            [nbpDeepLinkTarget]="false"></nbp-deep-link>
        </div>
        </div>
    </div>
</div>
