.nbp-change-password-wrapper {
  .nbp-change-password-container {
    .nbp-change-password-row {
      display: flex;
      justify-content: center;

      .nbp-change-password-content {
        border: 2px solid var(--nbp-primary) !important;
        border-radius: 5px;
        margin: 20px;
        padding: 25px;

        .forgotPassword {
          color: var(--nbp-primary) !important;
          margin: 14px 5px 12px 29px;

          a:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .form-submit {
          margin-top: 38px;

          .nbp-login-submit {
            float: right;

          }
        }
      }
    }
  }
}
