.nbp-change-password-wrapper {
  padding-bottom: 20px;

  .nbp-change-password-container {
    .nbp-change-password-title {
      display: flex;
      justify-content: center;
      align-items: center;

      .nbp-change-password-title-two {
        background: var(--nbp-primary);
        margin: 5px;
        padding: 5px;
        text-transform: capitalize;
        border-radius: 5px;
      }
    }

    .nbp-change-password-row {
      display: flex;
      justify-content: center;

      .nbp-change-password-content {
        box-shadow: var(--nbp-box-shadow) !important;
        background-color: var(--nbp-white);
        border-radius: 5px;
        margin: 20px;
        padding: 15px;

        .forgotPassword {
          color: var(--nbp-primary) !important;
          margin: 14px 5px 12px 29px;

          a:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .form-submit {
          margin-top: 38px;

          .nbp-login-submit {
            float: right;

          }
        }
      }
    }
  }
}
