.nbp-register-wrapper {
    .nbp-register-container {
      .nbp-register-row {
        display: flex;
        justify-content: center;
        .nbp-register-content {
            border: 2px solid var(--nbp-primary) !important;
            border-radius: 5px;
            margin: 20px;
            padding: 25px;

            .forgotPassword{
              color: blue;
              margin: 14px 5px 12px 29px;
              a:hover {
                cursor: pointer;
                text-decoration: underline;
            }
         }

            .form-submit {
                   margin-top: 38px;
                   .nbp-login-submit{
                       float: right;

                  }
                }
              }
        }
      }
    }
  
  