.nbp-table-one-wrapper {
  .nbp-table {
    width: 100% !important;
    border: 1.5px solid var(--nbp-sliver);
    .nbp-table-thead {
      .nbp-table-header {
        font-weight: bold;
        font-size: 0.875em;
        text-align: center;
        min-height: 30px !important;
        line-height: 14px;
        background: var(--nbp-white);
        .nbp-table-header-item {
          border-left: 1px solid var(--nbp-white-smoke);
          border-top: 1px solid var(--nbp-white-smoke);
          border-right: 1px solid var(--nbp-white-smoke);
          border-bottom: 1px solid var(--nbp-white-smoke);
          padding: 3px;
          text-align: center;
          border-style: solid;
          border-width: 1px 1px 1px 0;
          border-left-width: 0px;
          font-size: 12px;
          font-weight: bold;
          border-top-right-radius: 2px;
          border-top-left-radius: 2px;
          height: 35px;
          vertical-align: middle;
          border: 1px solid var(--nbp-white);
          // background: var(--nbp-sliver);
        }
      }
    }
    .nbp-table-tbody {
      .nbp-table-body {
        font-size: 0.875em;
        height: 3.55em;
        text-align: center;
        min-height: 30px !important;
        line-height: 14px;
        border: 1px solid var(--nbp-sliver);
        color: var(--nbp-night-rider);
        .nbp-table-content {
          font-size: 12px !important;
          border-right: 1px solid var(--nbp-white) !important;
          border-left: 1px solid var(--nbp-white) !important;
          &:focus {
            outline: none !important;
          }
          .nbp-table-content-item {
            padding: 0px 10px !important;
            font-size: 0.75rem !important;
          }
        }
        .nbp-table-content-actions {
          display: flex;
          font-size: 12px !important;
          border-right: 1px solid var(--nbp-white) !important;
          border-left: 1px solid var(--nbp-white) !important;
        }
      }
    }
  }
  .nbp-table-body-empty {
    border-left: 1px solid var(--nbp-sliver);
    border-right: 1px solid var(--nbp-sliver);
    border-bottom: 1px solid var(--nbp-sliver);
    padding: 0.9875em;
    text-align: center;
    .nbp-table-content-item {
      font-size: 0.975rem !important;
      font-weight: 600;
    }
  }
}
