<div class="nbp-table-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="nbp-table">
          <thead class="nbp-table-thead">
            <tr class="nbp-table-header">
              <th class="nbp-table-header-item" *ngFor="let header of nbpTableHeaders">
                {{header.name}}
              </th>
            </tr>
          </thead>
          <tbody class="nbp-table-tbody" *ngIf="nbpTableBodies.length !== 0">
            <tr class="nbp-table-body" *ngFor="let item of nbpTableBodies">
              <td class="nbp-table-content">
                <div class="nbp-table-content-item" [ngClass]="nbpTextAlign">{{item.firstName}}</div>
              </td>
              <td class="nbp-table-content">
                <div class="nbp-table-content-item" [ngClass]="nbpTextAlign">{{item.lastName}}</div>
              </td>
              <td class="nbp-table-content">
                <div class="nbp-table-content-item" [ngClass]="nbpTextAlign">{{item.email}}</div>
              </td>
              <td class="nbp-table-content">
                <div class="nbp-table-content-item" [ngClass]="nbpTextAlign">{{item.phone}}</div>
              </td>
              <td class="nbp-table-content">
                <div class="nbp-table-content-item" [ngClass]="nbpTextAlign">{{item.zipCode}}</div>
              </td>
              <td class="nbp-table-content">
                <div class="nbp-table-content-item" [ngClass]="nbpTextAlign">{{item.street}}</div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="nbp-table-body-empty" *ngIf="nbpTableBodies.length === 0">
          <div class="nbp-table-content-item">Empty Data :)</div>
      </div>
      </div>
    </div>
  </div>
</div>