.nbp-panel-title-two-wrapper {
  background-color: var(--nbp-white) !important;
  box-shadow: 0 1px 1px 0 rgba(0, 28, 36, 0.3), 1px 1px 1px 0 rgba(0, 28, 36, 0.15),
    -1px 1px 1px 0 rgba(0, 28, 36, 0.15);
  border-top: 1px solid var(--nbp-silver) !important;
  border-radius: 0;
  box-sizing: border-box;
  margin-bottom: 2rem;
  word-wrap: break-word;
  .col {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .nbp-panel-title-header {
    font-size: 1.6rem;
    line-height: 2rem;
    border-bottom: 1px solid var(--nbp-silver) !important;
    padding: 1.5rem 2rem;
    font-weight: 700;
    color: var(--nbp-white) !important;
  }
  .nbp-panel-title-body {
    padding: 1.5rem 2rem;
  }
}
