.nbp-color-wrapper {
  margin: 10px;
  .nbp-color-content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    border-top-width: 8em;
    border-top-style: solid;
    border-bottom-width: 0;
    border-bottom-style: solid;
    color: var(--nbp-white);
    font-weight: 700;
    font-size: 0.95em;
    padding: 1em;
    box-sizing: border-box;
    width: 170px;
    height: 100px;
  }
}