<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one
        [nbpTitle]="title1"
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nbp-toggle-button-one
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.one.primary
        "
        [nbpToggleButtonType]="_style.PRIMARY"
        [nbpToggleButtonDisabled]="true"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-one>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-one
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.one.success
        "
        [nbpToggleButtonType]="_style.SUCCESS"
        [nbpToggleButtonChecked]="true"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-one>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-one
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.one.default
        "
        [nbpToggleButtonType]="_style.DEFAULT"
        [nbpToggleButtonChecked]="false"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-one>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-one
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.one.danger
        "
        [nbpToggleButtonType]="_style.DANGER"
        [nbpToggleButtonChecked]="true"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-one>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-one
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.one.warning
        "
        [nbpToggleButtonType]="_style.WARNING"
        [nbpToggleButtonChecked]="true"
        [nbpToggleButtonDisabled]="true"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-one>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-one
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.one.info
        "
        [nbpToggleButtonType]="_style.INFO"
        [nbpToggleButtonChecked]="false"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-one>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one
        [nbpTitle]="title2"
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nbp-toggle-button-two
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.two.primary
        "
        [nbpToggleButtonType]="_style.PRIMARY"
        [nbpToggleButtonDisabled]="true"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-two>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-two
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.two.success
        "
        [nbpToggleButtonType]="_style.SUCCESS"
        [nbpToggleButtonChecked]="true"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-two>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-two
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.two.default
        "
        [nbpToggleButtonType]="_style.DEFAULT"
        [nbpToggleButtonChecked]="false"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-two>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-two
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.two.danger
        "
        [nbpToggleButtonType]="_style.DANGER"
        [nbpToggleButtonChecked]="true"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-two>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-two
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.two.warning
        "
        [nbpToggleButtonType]="_style.WARNING"
        [nbpToggleButtonChecked]="true"
        [nbpToggleButtonDisabled]="true"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-two>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-two
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.two.info
        "
        [nbpToggleButtonType]="_style.INFO"
        [nbpToggleButtonChecked]="false"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-two>
    </div>
  </div>
</div>
