<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one
        [nbpTitle]="title1"
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nbp-toggle-button-one
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.primary
        "
        [nbpToggleButtonType]="_style.PRIMARY"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-one>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-one
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.success
        "
        [nbpToggleButtonType]="_style.SUCCESS"
        [nbpToggleButtonChecked]="true"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-one>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-one
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.default
        "
        [nbpToggleButtonType]="_style.DEFAULT"
        [nbpToggleButtonChecked]="false"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-one>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-one
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.danger
        "
        [nbpToggleButtonType]="_style.DANGER"
        [nbpToggleButtonChecked]="true"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-one>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-one
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.warning
        "
        [nbpToggleButtonType]="_style.WARNING"
        [nbpToggleButtonChecked]="true"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-one>
    </div>
    <div class="col-md-2">
      <nbp-toggle-button-one
        [nbpToggleButtonName]="
          _model.component.NbpToggleButtonOneComponent.info
        "
        [nbpToggleButtonType]="_style.INFO"
        [nbpToggleButtonChecked]="false"
        (nbpToogleButtonOnClick)="nbpToogleButtonOnClick($event)"
      ></nbp-toggle-button-one>
    </div>
  </div>
</div>
