<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line
          [nbpTitle]="title"
          [nbpColorStyle]="_style.DEFAULT"
        ></nbp-dividing-line>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.DEFAULT"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.PRIMARY"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.SUCCESS"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.WARNING"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.DANGER"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.INFO"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.DEFAULT"
        [nbpCheckBoxChecked]="true"
        [nbpCheckBoxDisabled]="true"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.PRIMARY"
        [nbpCheckBoxChecked]="true"
        [nbpCheckBoxDisabled]="true"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.SUCCESS"
        [nbpCheckBoxChecked]="true"
        [nbpCheckBoxDisabled]="true"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.WARNING"
        [nbpCheckBoxChecked]="true"
        [nbpCheckBoxDisabled]="true"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.DANGER"
        [nbpCheckBoxChecked]="true"
        [nbpCheckBoxDisabled]="true"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.INFO"
        [nbpCheckBoxChecked]="true"
        [nbpCheckBoxDisabled]="true"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.DEFAULT"
        [nbpCheckBoxDisabled]="true"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.PRIMARY"
        [nbpCheckBoxDisabled]="true"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.SUCCESS"
        [nbpCheckBoxDisabled]="true"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.WARNING"
        [nbpCheckBoxDisabled]="true"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.DANGER"
        [nbpCheckBoxDisabled]="true"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
    <div class="col-md-2">
      <nbp-checkbox
        [nbpCheckBoxLabel]="_model.component.NbpCheckboxComponent.label"
        [nbpCheckBoxStyle]="_style.INFO"
        [nbpCheckBoxDisabled]="true"
        (nbpCheckBoxModel)="nbpCheckBoxModel($event)">
      </nbp-checkbox>
    </div>
  </div>
</div>