<div class="container my-5">
    <div class="row text-center">
        <div class="col">
            <nbp-dividing-line-one 
            [nbpTitle]="_model.component.NbpDividingLineComponent.modal.title1" 
            [nbpColorStyle]="_style.DEFAULT">
            </nbp-dividing-line-one>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <nbp-modal-one
                [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle1"
                [nbpModalContent]="_model.component.NbpModalComponent.content"
                [nbpModalSize]="this._size.MD">
            </nbp-modal-one>
        </div>
        <div class="col-md-4">
            <nbp-modal-one
                [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle1"
                [nbpModalContent]="_model.component.NbpModalComponent.content"
                [nbpModalSize]="this._size.SM">
            </nbp-modal-one>
        </div>
        <div class="col-md-4">
            <nbp-modal-one
                [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle1"
                [nbpModalContent]="_model.component.NbpModalComponent.content"
                [nbpModalSize]="this._size.LG">
            </nbp-modal-one>
        </div>
    </div>
    <div class="col">
        <nbp-dividing-line-one 
        [nbpTitle]="_model.component.NbpDividingLineComponent.modal.title2" 
        [nbpColorStyle]="_style.DEFAULT">
        </nbp-dividing-line-one>
    </div>
    <div class="row">
        <div class="col-md-6">
            <nbp-modal-two
            [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle2"
            [nbpModalContent]="_model.component.NbpModalComponent.content"
            [nbpModalSize]="this._size.LG">
            </nbp-modal-two>
        </div>
    </div>
    <div class="col">
        <nbp-dividing-line-one
        [nbpTitle]="_model.component.NbpDividingLineComponent.modal.title3"
            [nbpColorStyle]="_style.DEFAULT">
        </nbp-dividing-line-one>
      </div>
    <div class="row">
        <div class="col-md-6">
            <nbp-modal-three
            [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle3"
            [nbpModalContent]="_model.component.NbpModalComponent.content"
            [nbpModalSize]="this._size.LG">
            </nbp-modal-three>
        </div>
    </div>
</div>