<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one [nbpTitle]="title1" [nbpColorStyle]="_style.DEFAULT">
      </nbp-dividing-line-one>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-3">
      <nbp-modal-one [nbpModalType]="_style.PRIMARY" [nbpModalButtonTitle]="_model.component.NbpModalComponent.modalOne"
        [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle1"
        [nbpModalContent]="_model.component.NbpModalComponent.content" [nbpModalSize]="_size.MD"
        [nbpModalPosition]="_position.CENTER" [nbpModalStaticMode]="false" [nbpModalScroll]="true">
      </nbp-modal-one>
    </div>
    <div class="col-md-3">
      <nbp-modal-one [nbpModalType]="_style.DANGER" [nbpModalButtonTitle]="_model.component.NbpModalComponent.modalTwo"
        [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle2"
        [nbpModalContent]="_model.component.NbpModalComponent.content" [nbpModalSize]="_size.MD"
        [nbpModalPosition]="_position.TOP" [nbpModalStaticMode]="true" [nbpModalScroll]="false">
      </nbp-modal-one>
    </div>
    <div class="col-md-3">
      <nbp-modal-one [nbpModalType]="_style.WARNING"
        [nbpModalButtonTitle]="_model.component.NbpModalComponent.modalThree"
        [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle3"
        [nbpModalContent]="_model.component.NbpModalComponent.content" [nbpModalSize]="_size.LG"
        [nbpModalPosition]="_position.TOP" [nbpModalStaticMode]="true" [nbpModalScroll]="false">
      </nbp-modal-one>
    </div>
    <div class="col-md-3">
      <nbp-modal-one [nbpModalType]="_style.SUCCESS"
        [nbpModalButtonTitle]="_model.component.NbpModalComponent.modalFourth"
        [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle4"
        [nbpModalContent]="_model.component.NbpModalComponent.content.substring(0,100)" [nbpModalSize]="_size.LG"
        [nbpModalPosition]="_position.CENTER" [nbpModalStaticMode]="false" [nbpModalScroll]="true">
      </nbp-modal-one>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one [nbpTitle]="title2" [nbpColorStyle]="_style.DEFAULT">
      </nbp-dividing-line-one>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-3">
      <nbp-modal-two [nbpModalButtonTitle]="_model.component.NbpModalComponent.modalOne"
        [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle1"
        [nbpModalContent]="_model.component.NbpModalComponent.content" [nbpModalSize]="_size.MD"
        [nbpModalPosition]="_position.CENTER" [nbpModalStaticMode]="false" [nbpModalScroll]="true">
      </nbp-modal-two>
    </div>
    <div class="col-md-3">
      <nbp-modal-two [nbpModalButtonTitle]="_model.component.NbpModalComponent.modalTwo"
        [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle3"
        [nbpModalContent]="_model.component.NbpModalComponent.content.substring(0,300)" [nbpModalSize]="_size.LG"
        [nbpModalPosition]="_position.TOP" [nbpModalStaticMode]="true" [nbpModalScroll]="false">
      </nbp-modal-two>
    </div>
    <div class="col-md-3">
      <nbp-modal-two
        [nbpModalButtonTitle]="_model.component.NbpModalComponent.modalThree"
        [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle3"
        [nbpModalContent]="_model.component.NbpModalComponent.content" [nbpModalSize]="_size.LG"
        [nbpModalPosition]="_position.TOP" [nbpModalStaticMode]="true" [nbpModalScroll]="false">
      </nbp-modal-two>
    </div>
    <div class="col-md-3">
      <nbp-modal-two
        [nbpModalButtonTitle]="_model.component.NbpModalComponent.modalFourth"
        [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle4"
        [nbpModalContent]="_model.component.NbpModalComponent.content.substring(0,100)" [nbpModalSize]="_size.LG"
        [nbpModalPosition]="_position.CENTER" [nbpModalStaticMode]="false" [nbpModalScroll]="true">
      </nbp-modal-two>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one [nbpTitle]="title3" [nbpColorStyle]="_style.DEFAULT">
      </nbp-dividing-line-one>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-3">
      <nbp-modal-three [nbpModalTitle]="_model.component.NbpModalComponent.modalTitle3"
        [nbpModalContent]="_model.component.NbpModalComponent.content.substring(0,100)" [nbpModalSize]="_size.LG"
        [nbpModalPosition]="_position.CENTER" [nbpModalStaticMode]="false" [nbpModalScroll]="false">
      </nbp-modal-three>
    </div>
  </div>
</div>