<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line 
        [nbpTitle]="title" 
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line>
    </div>
  </div>
  <div class="row nbp-background-white">
    <nbp-table-one
      [nbpTableHeaders]="_model.component.NbpTableComponent.headers"
      [nbpTableBodies]="_model.component.NbpTableComponent.bodies"
      [nbpTableTextAlignItem]="_style.LEFT"
    ></nbp-table-one>
    <nbp-table-one
      [nbpTableHeaders]="_model.component.NbpTableComponent.headers"
      [nbpTableBodies]="_model.component.NbpTableComponent.bodies"
      [nbpTableTextAlignItem]="_style.RIGHT"
    ></nbp-table-one>
    <nbp-table-one
      [nbpTableHeaders]="_model.component.NbpTableComponent.headers"
      [nbpTableTextAlignItem]="_style.RIGHT"
    ></nbp-table-one>
  </div>
</div>