<div class="nbp-table-two-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <table datatable [dtOptions]="nbpDtOptions" class="nbp-table table table-striped border">
          <thead class="nbp-table-thead">
            <tr class="nbp-table-header">
              <th *ngFor="let header of nbpTableHeaders" class="nbp-table-header-item">
                {{header.name}}
              </th>
              <th class="nbp-table-header-item nbp-table-header-no-sort" *ngIf="nbpTableShowActions">
                Actions
              </th>
            </tr>
          </thead>
          <tbody class="nbp-table-tbody" *ngIf="nbpTableBodies.length !== 0">
            <tr class="nbp-table-body" *ngFor="let item of nbpTableBodies.slice(0,12)">
              <td class="nbp-table-content" *ngFor="let element of nbpObjectKeys(item)">
                <div class="nbp-table-content-item" [ngClass]="nbpTextAlign" *ngIf="item[element] !== 'permissions'">{{item[element]}}</div>
              </td>
            </tr>
          </tbody>
          <div class="nbp-table-body-empty" *ngIf="nbpTableBodies.length === 0">
            <div class="nbp-table-content-item">Empty Data :)</div>
        </div>
        </table>
      </div>
    </div>
  </div>
</div>