<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one
        [nbpTitle]="title1"
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nbp-alert-box-one
        [nbpText]="_model.component.NbpAlertBoxComponent.title"
        [nbpClose]="'true'"
        (nbpClickClose)="nbpOnClickClose($event)"
      ></nbp-alert-box-one>
      <nbp-alert-box-one
        [nbpText]="_model.component.NbpAlertBoxComponent.title"
        [nbpAlertType]="_alert.PROMOTIONAL"
      ></nbp-alert-box-one>
      <nbp-alert-box-one
        [nbpText]="_model.component.NbpAlertBoxComponent.title"
        [nbpAlertType]="_alert.WARNING"
      ></nbp-alert-box-one>
      <nbp-alert-box-one
        [nbpText]="_model.component.NbpAlertBoxComponent.title"
        [nbpAlertType]="_alert.POSITIVE"
      ></nbp-alert-box-one>
      <nbp-alert-box-one
        [nbpText]="_model.component.NbpAlertBoxComponent.title"
        [nbpAlertType]="_alert.ERROR"
      ></nbp-alert-box-one>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one
        [nbpTitle]="title2"
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <nbp-alert-box-two
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.GENERIC"
      ></nbp-alert-box-two>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-two
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.PROMOTIONAL"
      ></nbp-alert-box-two>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-two
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.WARNING"
      ></nbp-alert-box-two>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-two
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.POSITIVE"
      ></nbp-alert-box-two>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-two
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.ERROR"
      ></nbp-alert-box-two>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one
        [nbpTitle]="title3"
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <nbp-alert-box-three
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.GENERIC"
      ></nbp-alert-box-three>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-three
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.PROMOTIONAL"
      ></nbp-alert-box-three>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-three
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.WARNING"
      ></nbp-alert-box-three>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-three
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.POSITIVE"
      ></nbp-alert-box-three>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-three
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.ERROR"
      ></nbp-alert-box-three>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one
        [nbpTitle]="title4"
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <nbp-alert-box-fourth
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.GENERIC"
      ></nbp-alert-box-fourth>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-fourth
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.PROMOTIONAL"
      ></nbp-alert-box-fourth>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-fourth
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.WARNING"
      ></nbp-alert-box-fourth>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-fourth
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.POSITIVE"
      ></nbp-alert-box-fourth>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-fourth
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.ERROR"
      ></nbp-alert-box-fourth>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one
        [nbpTitle]="title5"
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <nbp-alert-box-five
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.GENERIC"
      ></nbp-alert-box-five>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-five
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.PROMOTIONAL"
      ></nbp-alert-box-five>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-five
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.WARNING"
      ></nbp-alert-box-five>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-five
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.POSITIVE"
      ></nbp-alert-box-five>
    </div>
    <div class="col-md-6">
      <nbp-alert-box-five
        [nbpText]="
          _model.component.NbpAlertBoxComponent.title.substring(0, 100)
        "
        [nbpAlertType]="_alert.ERROR"
      ></nbp-alert-box-five>
    </div>
  </div>
</div>
