.nbp-background-box-wrapper {
  padding: 25px 0px;
  .nbp-background-box-container {
    display: grid;
    padding: 20px 15px;
    .nbp-background-box-title {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .nbp-background-box-subtitle {
      text-align: justify;
    }
  }
}