// Scrollbar
::-webkit-scrollbar-thumb {
  background-color: var(--nbp-secondary);
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

.nbp-display-none {
  display: none !important;
}

.nbp-cursor-not-allowed {
  cursor: not-allowed;
}