// Scrollbar
::-webkit-scrollbar-thumb {
  background-color: var(--nbp-secondary);
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

body {
  background-color: var(--nbp-warm-gray-20);
}

.nbp-display-none {
  display: none !important;
}

.nbp-nav {
  ul {
    list-style-type: none;
    display: flex;
    li {
      margin: 0 10px;
    }
  }

  .nbp-cursor-not-allowed {
    cursor: not-allowed;
  }
}
