// Scrollbar
::-webkit-scrollbar-thumb {
  background-color: var(--nbp-secondary);
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

body {
  background-color: var(--nbp-warm-gray-20);
}

.nbp-display-none {
  display: none !important;
}

.nbp-nav {
  ul {
    list-style-type: none;
    display: flex;
    li {
      margin: 0 10px;
    }
  }
}

.nbp-cursor-not-allowed {
  cursor: not-allowed;
}

.nbp-cursor-pointer {
  cursor: pointer;
}

.nbp-text-decoration-none {
  text-decoration: none;
}

.nbp-navbar-top-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
