// Variabiles
:root {
  --nbp-tomato: #d12420;
  --nbp-white: #ffffff;
  --nbp-white-smoke: #f2f2f2;
  --nbp-warm-gray-20: #f3f2ef;
  --nbp-black: #000000;
  --nbp-night-rider: #323232;
  --nbp-sliver: #e0e0e1;
  --nbp-primary: #1775be;
  --nbp-secondary: #63666a;
  --nbp-success: #258900;
  --nbp-warning: #fa9600;
  --nbp-danger: #f55854;
  --nbp-info: #0096c8;
  --nbp-egyptian-blue: #f1faff;
  --nbp-floral-white: #fffbe9;
  --nbp-mint-cream: #ddffeb;
  --nbp-misty-rose: #ffd6d6;
  --nbp-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.18);
}
