// Variabiles
:root {
  --nbp-tomato: #d12420;
  --nbp-white: #ffffff;
  --nbp-white-smoke: #f2f2f2;
  --nbp-warm-gray-20: #f3f2ef;
  --nbp-black: #000000;
  --nbp-night-rider: #323232;
  --nbp-sliver: #e0e0e1;
  --nbp-primary: #1775be;
  --nbp-secondary: #63666a;
  --nbp-success: #258900;
  --nbp-warning: #fa9600;
  --nbp-danger: #f55854;
  --nbp-info: #0096c8;
  --nbp-box-shadow: 0 0 17px 0 rgba(0,0,0,.18);
}


// Colors
.nbp-color-primary {
  color: var(--nbp-primary) !important;
}
.nbp-color-tomato {
  color: var(--nbp-tomato) !important;
}
.nbp-color-default {
  color: var(--nbp-secondary) !important;
}
.nbp-color-white {
  color: var(--nbp-white) !important;
}
.nbp-color-success {
  color: var(--nbp-success) !important;
}
.nbp-color-warning {
  color: var(--nbp-warning) !important;
}
.nbp-color-danger {
  color: var(--nbp-danger) !important;
}
.nbp-color-info {
  color: var(--nbp-info) !important;
}

// Backgrounds
.nbp-background-primary {
  background: var(--nbp-primary) !important;
}
.nbp-background-info {
  background: var(--nbp-info) !important;
}
.nbp-background-warning {
  background: var(--nbp-warning) !important;
}
.nbp-background-success {
  background: var(--nbp-success) !important;
}
.nbp-background-danger {
  background: var(--nbp-danger) !important;
}
.nbp-background-tomato {
  background: var(--nbp-tomato) !important;
}
.nbp-background-default {
  background: var(--nbp-white-smoke) !important;
}
.nbp-background-generic {
  background: var(--nbp-secondary) !important;
}
.nbp-background-black {
  background: var(--nbp-black) !important;
}
.nbp-background-white {
  background: var(--nbp-white) !important;
}

// Fonts Size from 12px to 42px
@include nbp-font-size(12, 42);

// Fonts Weight
.nbp-font-bold {
  font-weight: bold !important;
}

// Texts Align
.nbp-text-align-left {
  text-align: left !important;
}
.nbp-text-align-center {
  text-align: center !important;
}
.nbp-text-align-right {
  text-align: right !important;
}

// Text Transform
.nbp-text-lowercase {
  text-transform: lowercase !important;
}
.nbp-text-uppercase {
  text-transform: uppercase !important;
}
.nbp-text-capitalize {
  text-transform: capitalize !important;
}


// Border Color
.nbp-border-default {
  border-color: var(--nbp-secondary) !important;
}
.nbp-border-success {
  border-color: var(--nbp-success) !important;
}
.nbp-border-info {
  border-color: var(--nbp-info) !important;
}
.nbp-border-warning {
  border-color: var(--nbp-warning) !important;
}
.nbp-border-danger {
  border-color: var(--nbp-danger) !important;
}
.nbp-border-tomato {
  border-color: var(--nbp-tomato) !important;
}

// Rounded
.nbp-rounded {
  border-radius: 1.5625rem !important;
}

// Opacity
// TODO: @include nbp-opacity(0, 10); 
.nbp-opacity-02 {
  opacity: 0.2 !important;
}
.nbp-opacity-04 {
  opacity: 0.4 !important;
}
.nbp-opacity-05 {
  opacity: 0.5 !important;
}
.nbp-opacity-07 {
  opacity: 0.7 !important;
}
.nbp-opacity-1 {
  opacity: 1 !important;
}