.nbp-alert-box-wrapper-five {
  .nbp-alert-box-container {
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    width: 100%;
    text-align: justify;

    .nbp-alert-box-message {
      padding: 5px 0px;
    }
  }
}
