<div class="nbp-composants-wrapper">
  <div class="container my-5" *ngIf="hideNavigationMenu">
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one
          [nbpTitle]="title"
          [nbpColorStyle]="_style.DEFAULT"
          [nbpUppercaseTitle]="_pipe.UPPERCASE"
        ></nbp-dividing-line-one>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li class="nbp-composants-link">
            <a routerLink="/composants/typographies" routerLinkActive="active">Typographies Title</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/breadcrumbs" routerLinkActive="active">Breadcrumbs Nagivation</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/colors" routerLinkActive="active">Colors Style</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/links" routerLinkActive="active">Links Style</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/dividing-lines" routerLinkActive="active">Dividing Lines</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/background-boxes" routerLinkActive="active">Background Boxes</a>
          </li>
          <li class="nbp-composants-link"> 
            <a routerLink="/composants/feedbacks" routerLinkActive="active">Feedbacks Messages</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/alert-boxes" routerLinkActive="active">Alerts Boxes</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/tables" routerLinkActive="active">Tables</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/boxes" routerLinkActive="active">Boxes</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/toggle-buttons" routerLinkActive="active">Toggle Buttons</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/headers" routerLinkActive="active">Headers Examples</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/input-text" routerLinkActive="active">Input Text</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/buttons" routerLinkActive="active">Buttons</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li class="nbp-composants-link">
            <a routerLink="/composants/textareas" routerLinkActive="active">Textareas</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/checkboxes" routerLinkActive="active">Input Checkboxes</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/radios" routerLinkActive="active">Input Radios</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/icons" routerLinkActive="active">Icons Style</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/badges" routerLinkActive="active">Badges Style</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/panel-titles" routerLinkActive="active">Panels Title</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/modals" routerLinkActive="active">Modals</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/tooltips" routerLinkActive="active">Tooltips</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/notification-Header" routerLinkActive="active">Notification-Header</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/comboDropDownList" routerLinkActive="active">ComboDropDownList</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/date-Picker" routerLinkActive="active">date-picker</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/upload-File" routerLinkActive="active">Upload Files</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/tabar" routerLinkActive="active">Tabar</a>
          </li>
          <li class="nbp-composants-link">
            <a routerLink="/composants/filter-Form" routerLinkActive="active">Filter Form</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
