<div class="nbp-textarea-wrapper">
  <div class="nbp-textarea-container">
    <label *ngIf="nbpTextareaLabelRequired" for="nbpTextareaName" class="nbp-textarea-text-label nbp-text-uppercase">
      {{nbpTextareaLabel}} <span *ngIf="nbpTextareaRequired" class="nbp-color-tomato ml-1">*</span>
    </label>
    <div class="nbp-textarea">
      <textarea [(ngModel)]="nbpModel" [rows]="nbpTextareaRows" [ngClass]="nbpTextarea" (keyup)="nbpTextareaKeyUp()"
        (focusout)="nbpTextareaFocusOut()" class="nbp-form-control form-control" [placeholder]="nbpTextareaPlaceholder"
        [disabled]="nbpTextareaDisabled" [required]="nbpTextareaRequired" [name]="'nbpTextareaName'"></textarea>
    </div>
    <div class="nbp-textarea-error-message" *ngIf="nbpErrorMessage">
      <span class="nbp-textarea-alert">{{nbpTextareaErrorMessage}}</span>
    </div>
    <div class="row" *ngIf="nbpErrorLung">
      <span class="nbp-textarea-error-message"
        *ngIf="verifica">{{nbpTextareaErrorlunghezzaMaxSup}}
      </span>
      <span [ngClass]="{'nbp-textarea-error-messages': verifica,
        '': !verifica}">{{getCountWord()}}
      </span>
    </div>
  </div>
</div>