<div class="nbp-badge-page-wrapper">
  <div class="container my-5">
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one [nbpTitle]="title1" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
      </div>
    </div>
    <div class="row">
      <div class="col nbp-badge-page-content" *ngFor="let badge of nbpBadges">
        <nbp-badge-one [nbpBadgeNumber]="badge.number"  [nbpBadgeStyle]="badge.style"></nbp-badge-one>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one [nbpTitle]="title2" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
      </div>
    </div>
    <div class="row">
      <div class="col nbp-badge-page-content" *ngFor="let badge of nbpBadges">
        <div *ngIf="badge.icon">
          <nbp-badge-one [nbpBadgeNumber]="badge.number"  [nbpBadgeStyle]="badge.style" [nbpBadgeIcon]="badge.icon"></nbp-badge-one>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one [nbpTitle]="title3" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
      </div>
    </div>
    <div class="row">
      <div class="col nbp-badge-page-content" *ngFor="let badge of nbpBadges">
        <nbp-badge-one [nbpBadgeNumber]="badge.number"  [nbpBadgeStyle]="badge.style" [nbpBadgeType]="_style.OUTLINE"></nbp-badge-one>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one [nbpTitle]="title4" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
      </div>
    </div>
    <div class="row">
      <div class="col nbp-badge-page-content" *ngFor="let badge of nbpBadges">
        <div *ngIf="badge.icon">
          <nbp-badge-one [nbpBadgeNumber]="badge.number"  [nbpBadgeStyle]="badge.style" [nbpBadgeIcon]="badge.icon" [nbpBadgeType]="_style.OUTLINE"></nbp-badge-one>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one [nbpTitle]="title5" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
      </div>
    </div>
    <div class="row">
      <div class="col nbp-badge-page-content" *ngFor="let badge of nbpBadges">
        <nbp-badge-two [nbpBadgeNumber]="badge.number"  [nbpBadgeStyle]="badge.style"></nbp-badge-two>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one [nbpTitle]="title6" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
      </div>
    </div>
    <div class="row">
      <div class="col nbp-badge-page-content" *ngFor="let badge of nbpBadges">
        <div *ngIf="badge.icon">
          <nbp-badge-two [nbpBadgeNumber]="badge.number"  [nbpBadgeStyle]="badge.style" [nbpBadgeIcon]="badge.icon"></nbp-badge-two>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one [nbpTitle]="title7" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
      </div>
    </div>
    <div class="row">
      <div class="col nbp-badge-page-content" *ngFor="let badge of nbpBadges">
        <nbp-badge-two [nbpBadgeNumber]="badge.number"  [nbpBadgeStyle]="badge.style" [nbpBadgeType]="_style.OUTLINE"></nbp-badge-two>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one [nbpTitle]="title8" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
      </div>
    </div>
    <div class="row">
      <div class="col nbp-badge-page-content" *ngFor="let badge of nbpBadges">
        <div *ngIf="badge.icon">
          <nbp-badge-two [nbpBadgeNumber]="badge.number"  [nbpBadgeStyle]="badge.style" [nbpBadgeIcon]="badge.icon" [nbpBadgeType]="_style.OUTLINE"></nbp-badge-two>
        </div>
      </div>
    </div>
  </div>
</div>