<div class="nbp-date-picker-wrapper">
  <div class="nbp-date-picker-container">
    <label
      *ngIf="nbpDatePickerLabelRequired"
      [for]="nbpDatePickerName"
      class="nbp-p2 nbp-color-default nbp-date-picker-label nbp-text-capitalize">
      {{ nbpDatePickerLabel }}
      <span *ngIf="nbpDatePickerRequired" class="nbp-color-tomato ml-1">*</span>
    </label>
    <div class="nbp-date-picker">
      <dp-date-picker
        [id]="nbpDatePickerId"
        [name]="nbpDatePickerName"
        [placeholder]="nbpDatePickerPlaceholder"
        theme="dp-material"
        (keyup)="nbpInputKeyUp()"
        (blur)="nbpInputBlur()"
        (focusout)="nbpInputFocusOut()"
        (focus)="nbpInputFocus()"
        class="form-control nbp-form-control"
        [ngClass]="nbpDatePicker"
        [(ngModel)]="nbpModel"
        [disabled]="nbpDatePickerDisabled"
        [required]="nbpDatePickerRequired">
    </dp-date-picker>
      <i class="nbp-date-picker-icon" [ngClass]="nbpDatePickerIcon"></i>
      <!-- <input
        [id]="nbpDatePickerId"
        type="date"
        [(ngModel)]="nbpModel" 
        [ngClass]="nbpDatePicker" 
        [name]="nbpDatePickerName"
        (keyup)="nbpInputKeyUp()" 
        (blur)="nbpInputBlur()"
        (focusout)="nbpInputFocusOut()" 
        (focus)="nbpInputFocus()"
        class="datepicker form-control nbp-form-control"
        [disabled]="nbpDatePickerDisabled"
        [required]="nbpDatePickerRequired"
      /> -->
    </div>
    <div class="nbp-date-picker-error-message" *ngIf="nbpErrorMessage">
      <span class="nbp-date-picker-alert">{{ nbpDatePickerErrorMessage }}</span>
    </div>
  </div>
</div>
