<div class="nbp-panel-title-five-wrapper">
  <div class="container">
    <div class="row">
      <div class="col" [ngClass]="nbpBorder">
        <div class="nbp-panel-title-header" [ngClass]="nbpPanel">
          <div class="row">
            <div class="col-md-1 nbp-text-align-center nbp-panel-title-header-icon">
              <span class="nbp-panel-title-icon nbp-font-size-20"
                ><i class="npb-font-size-40" [ngClass]="nbpAlertBoxIcon"></i
              ></span>
            </div>
            <div class="col-md-11 nbp-panel-title-header-content">
              {{ nbpPanelTitle }}
            </div>
          </div>
        </div>
        <div class="nbp-panel-title-body">Content Panel</div>
      </div>
    </div>
  </div>
</div>
