<div class="nbp-color-page-wrapper">
  <div class="container my-5">
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one [nbpTitle]="title" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
      </div>
    </div>
    <div class="row nbp-background-white">
      <nbp-breadcrumd-three></nbp-breadcrumd-three>
    </div>
    <div class="row">
      <nbp-breadcrumb-one></nbp-breadcrumb-one>
    </div>
    <div class="row nbp-background-white">
      <nbp-breadcrumb-two></nbp-breadcrumb-two>
    </div>
  </div>
</div>