.nbp-feedback-wrapper {
  .nbp-feedback-icon {
    font-size: 8.25em;
  }
  .nbp-feedback-content {
    display: grid;
    padding-bottom: 50px;
    .nbp-feedback-title {
      line-height: 1.75rem;
      font-size: 2rem;
      font-weight: 500;
      padding-bottom: 15px;
      color: var(--nbp-night-rider);
    }
    .nbp-feedback-message {
      font-weight: 400;
      font-style: normal;
      font-size: 1.25rem;
      line-height: normal;
      color: var(--nbp-night-rider);
    }
  }
}
