<div class="nbp-feedback-wrapper">
  <div class="row">
    <div class="col text-center">
      <div class="nbp-feedback-icon"><i [ngClass]="nbpFeedback"></i></div>
      <div class="nbp-feedback-content">
        <span class="nbp-feedback-title">{{nbpTitle}}</span>
        <span class="nbp-feedback-message">{{nbpMessage}}</span>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-6" *ngIf="nbpFeedbackWithButtonContinue">
    <nbp-button
    (click)="nbpClickContinue()" 
    [nbpButtonLabel]="'CONTINUA'" 
    [nbpButtonSize]="_size.MD"
    [nbpButtonColor]="_style.PRIMARY"
    [nbpButtonType]="_style.OUTLINE">
 </nbp-button>
  </div>
  <div class="col text-center" *ngIf="nbpFeedbackWithButtonOk">
    <nbp-button
    (click)="nbpClickOk()"
    [nbpButtonLabel]="'OK'" 
    [nbpButtonSize]="_size.MD"
    [nbpButtonColor]="_style.WARNING"
    [nbpButtonType]="_style.OUTLINE">
 </nbp-button>
  </div>
  <div class="col-3" *ngIf="nbpFeedbackWithButtonTryAgain">
    <nbp-button 
    (click)="nbpClickTryAgain()"
    [nbpButtonLabel]="'RIPROVA'" 
    [nbpButtonSize]="_size.MD"
    [nbpButtonColor]="_style.PRIMARY">
  </nbp-button>
  </div>
</div>
</div>