<div class="nbp-tab-bar-two-wrapper">
    <ul [class]="nbpTabbarPositionAndType">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" id="hvome-tab">{{NbpTabbarInputOne}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >{{NbpTabbarInputTwo}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.google.it/">{{NbpTabbarInputThree}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.google.it/">{{NbpTabbarInputFour}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{NbpTabbarInputFive}}</a>
        </li>
    </ul>
</div>
 