// Backgrounds
.nbp-background-primary {
  background: var(--nbp-primary) !important;
}

.nbp-background-info {
  background: var(--nbp-info) !important;
}

.nbp-background-warning {
  background: var(--nbp-warning) !important;
}

.nbp-background-success {
  background: var(--nbp-success) !important;
}

.nbp-background-danger {
  background: var(--nbp-danger) !important;
}

.nbp-background-tomato {
  background: var(--nbp-tomato) !important;
}

.nbp-background-white-smoke {
  background: var(--nbp-white-smoke) !important;
}

.nbp-background-sliver {
  background: var(--nbp-sliver) !important;
}

.nbp-background-night-rider {
  background: var(--nbp-night-rider) !important;
}

.nbp-background-default {
  background: var(--nbp-secondary) !important;
}

.nbp-background-black {
  background: var(--nbp-black) !important;
}

.nbp-background-white {
  background: var(--nbp-white) !important;
}

.nbp-background-warm-gray-20 {
  background: var(--nbp-warm-gray-20) !important;
}
