// White
.nbp-badge-white {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-white) !important;
}

// Success
.nbp-badge-success {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-success) !important;
  border-color: var(--nbp-success) !important;
}

// Info
.nbp-badge-info {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-info) !important;
  border-color: var(--nbp-info) !important;
}

// Black
.nbp-badge-black {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-black) !important;
  border-color: var(--nbp-black) !important;
}

// Default
.nbp-badge-default {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-secondary) !important;
  border-color: var(--nbp-secondary) !important;
}

// Tomato
.nbp-badge-tomato {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-tomato) !important;
  border-color: var(--nbp-tomato) !important;
}

// Danger
.nbp-badge-danger {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-danger) !important;
  border-color: var(--nbp-danger) !important;
}

// Warning
.nbp-badge-warning {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-warning) !important;
  border-color: var(--nbp-warning) !important;
}

// Primary
.nbp-badge-primary {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-primary) !important;
  border-color: var(--nbp-primary) !important;
}

// White Smoke
.nbp-badge-white-smoke {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-white-smoke) !important;
  border-color: var(--nbp-white-smoke) !important;
}

// Warm Gray 20
.nbp-badge-warm-gray-20 {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-warm-gray-20) !important;
  border-color: var(--nbp-warm-gray-20) !important;
}

// Night Rider
.nbp-badge-night-rider {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-night-rider) !important;
  border-color: var(--nbp-night-rider) !important;
}

// Sliver
.nbp-badge-sliver {
  color: var(--nbp-white) !important;
  background-color: var(--nbp-sliver) !important;
  border-color: var(--nbp-sliver) !important;
}