// Success
.nbp-button-success {
  background-color: var(--nbp-success) !important;
  border-color: var(--nbp-success) !important;
  color: var(--nbp-white) !important;

  &:hover {
    background-color: var(--nbp-night-rider) !important;
    border-color: var(--nbp-night-rider) !important;
  }

  &:disabled {
    opacity: .5 !important;
    background-color: var(--nbp-success) !important;
    border-color: var(--nbp-success) !important;
    color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

// Success with hover inverse
.nbp-button-success-hover {
  background-color: var(--nbp-success) !important;
  border-color: var(--nbp-success) !important;
  color: var(--nbp-white) !important;

  &:hover {
    background-color: var(--nbp-white) !important;
    border-color: var(--nbp-success) !important;
    color: var(--nbp-success) !important;
  }

  &:disabled {
    opacity: .5 !important;
    background-color: var(--nbp-success) !important;
    border-color: var(--nbp-success) !important;
    color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

// Info
.nbp-button-info {
  background-color: var(--nbp-info) !important;
  border-color: var(--nbp-info) !important;
  color: var(--nbp-white) !important;

  &:hover {
    background-color: var(--nbp-night-rider) !important;
    border-color: var(--nbp-night-rider) !important;
  }

  &:disabled {
    opacity: .5 !important;
    background-color: var(--nbp-info) !important;
    border-color: var(--nbp-info) !important;
    color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

// Info with hover inverse
.nbp-button-info-hover {
  background-color: var(--nbp-info) !important;
  border-color: var(--nbp-info) !important;
  color: var(--nbp-white) !important;

  &:hover {
    background-color: var(--nbp-white) !important;
    border-color: var(--nbp-info) !important;
    color: var(--nbp-info) !important;
  }

  &:disabled {
    opacity: .5 !important;
    background-color: var(--nbp-info) !important;
    border-color: var(--nbp-info) !important;
    color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

// Primary
.nbp-button-primary {
  background-color: var(--nbp-primary) !important;
  border-color: var(--nbp-primary) !important;
  color: var(--nbp-white) !important;

  &:hover {
    background-color: var(--nbp-night-rider) !important;
    border-color: var(--nbp-night-rider) !important;
  }

  &:disabled {
    opacity: .5 !important;
    background-color: var(--nbp-primary) !important;
    border-color: var(--nbp-primary) !important;
    color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

// Primary with hover inverse
.nbp-button-primary-hover {
  background-color: var(--nbp-primary) !important;
  border-color: var(--nbp-primary) !important;
  color: var(--nbp-white) !important;

  &:hover {
    background-color: var(--nbp-white) !important;
    border-color: var(--nbp-primary) !important;
    color: var(--nbp-primary) !important;
  }

  &:disabled {
    opacity: .5 !important;
    background-color: var(--nbp-primary) !important;
    border-color: var(--nbp-primary) !important;
    color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

// Default
.nbp-button-default {
  background-color: var(--nbp-secondary) !important;
  border-color: var(--nbp-secondary) !important;
  color: var(--nbp-white) !important;

  &:hover {
    background-color: var(--nbp-night-rider) !important;
    border-color: var(--nbp-night-rider) !important;
  }

  &:disabled {
    opacity: .5 !important;
    color: var(--nbp-white) !important;
    background-color: var(--nbp-night-rider) !important;
    border-color: var(--nbp-night-rider) !important;
    cursor: no-drop;
  }
}

// Default with hover inverse
.nbp-button-default-hover {
  background-color: var(--nbp-secondary) !important;
  border-color: var(--nbp-secondary) !important;
  color: var(--nbp-white) !important;

  &:hover {
    background-color: var(--nbp-white) !important;
    border-color: var(--nbp-secondary) !important;
    color: var(--nbp-secondary) !important;
  }

  &:disabled {
    opacity: .5 !important;
    color: var(--nbp-white) !important;
    background-color: var(--nbp-secondary) !important;
    border-color: var(--nbp-secondary) !important;
    cursor: no-drop;
  }
}

// Danger
.nbp-button-danger {
  background-color: var(--nbp-tomato) !important;
  border-color: var(--nbp-tomato) !important;
  color: var(--nbp-white) !important;

  &:hover {
    background-color: var(--nbp-night-rider) !important;
    border-color: var(--nbp-night-rider) !important;
  }

  &:disabled {
    opacity: .5 !important;
    background-color: var(--nbp-tomato) !important;
    border-color: var(--nbp-tomato) !important;
    color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

// Danger with hover inverse
.nbp-button-danger-hover {
  background-color: var(--nbp-tomato) !important;
  border-color: var(--nbp-tomato) !important;
  color: var(--nbp-white) !important;

  &:hover {
    background-color: var(--nbp-white) !important;
    border-color: var(--nbp-tomato) !important;
    color: var(--nbp-tomato) !important;
  }

  &:disabled {
    opacity: .5 !important;
    background-color: var(--nbp-tomato) !important;
    border-color: var(--nbp-tomato) !important;
    color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

// Warning
.nbp-button-warning {
  background-color: var(--nbp-warning) !important;
  border-color: var(--nbp-warning) !important;
  color: var(--nbp-white) !important;

  &:hover {
    background-color: var(--nbp-night-rider) !important;
    border-color: var(--nbp-night-rider) !important;
  }

  &:disabled {
    opacity: .5 !important;
    background-color: var(--nbp-warning) !important;
    border-color: var(--nbp-warning) !important;
    color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

// Warning with hover inverse
.nbp-button-warning-hover {
  background-color: var(--nbp-warning) !important;
  border-color: var(--nbp-warning) !important;
  color: var(--nbp-white) !important;

  &:hover {
    background-color: var(--nbp-white) !important;
    border-color: var(--nbp-warning) !important;
    color: var(--nbp-warning) !important;
  }

  &:disabled {
    opacity: .5 !important;
    background-color: var(--nbp-warning) !important;
    border-color: var(--nbp-warning) !important;
    color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

// Rounded
.nbp-button-rounded {
  border-radius: 3.125rem !important;
}

// Outline
.nbp-button-outline-default {
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-secondary) !important;
  color: var(--nbp-secondary) !important;

  &:hover {
    color: var(--nbp-white) !important;
  }

  &:disabled {
    opacity: .5 !important;
    color: var(--nbp-white) !important;
    background-color: var(--nbp-night-rider) !important;
    border-color: var(--nbp-night-rider) !important;
    cursor: no-drop;
  }
}

.nbp-button-outline-default-hover {
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-secondary) !important;
  color: var(--nbp-secondary) !important;

  &:hover {
    color: var(--nbp-white) !important;
    background-color: var(--nbp-secondary) !important;
    border-color: var(--nbp-secondary) !important;
  }

  &:disabled {
    opacity: .5 !important;
    color: var(--nbp-white) !important;
    background-color: var(--nbp-secondary) !important;
    border-color: var(--nbp-secondary) !important;
    cursor: no-drop;
  }
}

.nbp-button-outline-success {
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-success) !important;
  color: var(--nbp-success) !important;

  &:hover {
    color: var(--nbp-white) !important;
  }
}

.nbp-button-outline-success-hover {
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-success) !important;
  color: var(--nbp-success) !important;

  &:hover {
    color: var(--nbp-white) !important;
    background-color: var(--nbp-success) !important;
    border-color: var(--nbp-white) !important;
  }
  &:disabled {
    opacity: .5 !important;
    color: var(--nbp-white) !important;
    background-color: var(--nbp-success) !important;
    border-color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

.nbp-button-outline-info {
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-info) !important;
  color: var(--nbp-info) !important;

  &:hover {
    color: var(--nbp-white) !important;
  }
}

.nbp-button-outline-info-hover {
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-info) !important;
  color: var(--nbp-info) !important;

  &:hover {
    color: var(--nbp-white) !important;
    background-color: var(--nbp-info) !important;
    border-color: var(--nbp-white) !important;
  }
  &:disabled {
    opacity: .5 !important;
    color: var(--nbp-white) !important;
    background-color: var(--nbp-info) !important;
    border-color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

.nbp-button-outline-primary {
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-primary) !important;
  color: var(--nbp-primary) !important;

  &:hover {
    color: var(--nbp-white) !important;
  }
}

.nbp-button-outline-primary-hover {
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-primary) !important;
  color: var(--nbp-primary) !important;

  &:hover {
    color: var(--nbp-white) !important;
    background-color: var(--nbp-primary) !important;
    border-color: var(--nbp-white) !important;
  }
  &:disabled {
    opacity: .5 !important;
    color: var(--nbp-white) !important;
    background-color: var(--nbp-primary) !important;
    border-color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

.nbp-button-outline-danger {
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-tomato) !important;
  color: var(--nbp-tomato) !important;

  &:hover {
    color: var(--nbp-white) !important;
  }
}

.nbp-button-outline-danger-hover {
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-tomato) !important;
  color: var(--nbp-tomato) !important;

  &:hover {
    color: var(--nbp-white) !important;
    background-color: var(--nbp-tomato) !important;
    border-color: var(--nbp-white) !important;
  }

  &:disabled {
    opacity: .5 !important;
    color: var(--nbp-white) !important;
    background-color: var(--nbp-tomato) !important;
    border-color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

.nbp-button-outline-warning {
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-warning) !important;
  color: var(--nbp-warning) !important;

  &:hover {
    color: var(--nbp-white) !important;
  }
}

.nbp-button-outline-warning-hover {
  background-color: var(--nbp-white) !important;
  border-color: var(--nbp-warning) !important;
  color: var(--nbp-warning) !important;

  &:hover {
    color: var(--nbp-white) !important;
    background-color: var(--nbp-warning) !important;
    border-color: var(--nbp-white) !important;
  }

  &:disabled {
    opacity: .5 !important;
    color: var(--nbp-white) !important;
    background-color: var(--nbp-warning) !important;
    border-color: var(--nbp-white) !important;
    cursor: no-drop;
  }
}

// Size
.nbp-button-small {
  min-width: 5.25rem !important;
  min-height: 2.1875rem !important;
}

.nbp-button-medium {
  min-width: 6.875rem !important;
  min-height: 3.1875rem !important;
}

.nbp-button-large {
  min-width: 10.75rem !important;
  min-height: 5.1875rem !important;
}
