// Success
.nbp-checkbox-success {
  .checked {
    background-color: var(--nbp-success) !important;
    border-color: var(--nbp-success) !important;
    color: var(--nbp-white) !important;
  }

  .nbp-checkbox-label.checked {
    font-weight: 600;
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--nbp-success) !important;
  }
}

.nbp-toggle-button-one-success {
  input {
    &:checked+span {
      background-color: var(--nbp-success) !important;

      small {
        background-color: var(--nbp-white) !important;
      }
    }
    &:disabled+span {
      opacity: 0.4 !important;
      cursor: no-drop !important;
    }
  }
}

.nbp-toggle-button-two-success {
  input {
    &:checked+span {
      background-color: var(--nbp-success) !important;

      small {
        background-color: var(--nbp-success) !important;
      }
    }
    &:disabled+span {
      opacity: 0.4 !important;
      cursor: no-drop !important;
    }
  }
}

// Primary
.nbp-checkbox-primary {
  .checked {
    background-color: var(--nbp-primary) !important;
    border-color: var(--nbp-primary) !important;
    color: var(--nbp-white) !important;
  }

  .nbp-checkbox-label.checked {
    font-weight: 600;
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--nbp-primary) !important;
  }
}

.nbp-toggle-button-one-primary {
  input {
    &:checked+span {
      background-color: var(--nbp-primary) !important;

      small {
        background-color: var(--nbp-white) !important;
      }
    }
    &:disabled+span {
      opacity: 0.4 !important;
      cursor: no-drop !important;
    }
  }
}

.nbp-toggle-button-two-primary {
  input {
    &:checked+span {
      background-color: var(--nbp-primary) !important;

      small {
        background-color: var(--nbp-primary) !important;
      }
    }
    &:disabled+span {
      opacity: 0.4 !important;
      cursor: no-drop !important;
    }
  }
}

// Info
.nbp-checkbox-info {
  .checked {
    background-color: var(--nbp-info) !important;
    border-color: var(--nbp-info) !important;
    color: var(--nbp-white) !important;
  }

  .nbp-checkbox-label.checked {
    font-weight: 600;
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--nbp-info) !important;
  }
}

.nbp-toggle-button-one-info {
  input {
    &:checked+span {
      background-color: var(--nbp-info) !important;

      small {
        background-color: var(--nbp-white) !important;
      }
    }
    &:disabled+span {
      opacity: 0.4 !important;
      cursor: no-drop !important;
    }
  }
}

.nbp-toggle-button-two-info {
  input {
    &:checked+span {
      background-color: var(--nbp-info) !important;

      small {
        background-color: var(--nbp-info) !important;
      }
    }
    &:disabled+span {
      opacity: 0.4 !important;
      cursor: no-drop !important;
    }
  }
}

// Warning
.nbp-checkbox-warning {
  .checked {
    background-color: var(--nbp-warning) !important;
    border-color: var(--nbp-warning) !important;
    color: var(--nbp-white) !important;
  }

  .nbp-checkbox-label.checked {
    font-weight: 600;
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--nbp-warning) !important;
  }
}

.nbp-toggle-button-one-warning {
  input {
    &:checked+span {
      background-color: var(--nbp-warning) !important;

      small {
        background-color: var(--nbp-white) !important;
      }
    }
    &:disabled+span {
      opacity: 0.4 !important;
      cursor: no-drop !important;
    }
  }
}

.nbp-toggle-button-two-warning {
  input {
    &:checked+span {
      background-color: var(--nbp-warning) !important;

      small {
        background-color: var(--nbp-warning) !important;
      }
    }
    &:disabled+span {
      opacity: 0.4 !important;
      cursor: no-drop !important;
    }
  }
}

// Danger
.nbp-checkbox-danger {
  .checked {
    background-color: var(--nbp-tomato) !important;
    border-color: var(--nbp-tomato) !important;
    color: var(--nbp-white) !important;
  }

  .nbp-checkbox-label.checked {
    font-weight: 600;
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--nbp-tomato) !important;
  }
}

.nbp-toggle-button-one-danger {
  input {
    &:checked+span {
      background-color: var(--nbp-danger) !important;

      small {
        background-color: var(--nbp-white) !important;
      }
    }
    &:disabled+span {
      opacity: 0.4 !important;
      cursor: no-drop !important;
    }
  }
}

.nbp-toggle-button-two-danger {
  input {
    &:checked+span {
      background-color: var(--nbp-danger) !important;

      small {
        background-color: var(--nbp-danger) !important;
      }
    }
    &:disabled+span {
      opacity: 0.4 !important;
      cursor: no-drop !important;
    }
  }
}

// Default
.nbp-checkbox-default {
  .checked {
    background-color: var(--nbp-secondary) !important;
    border-color: var(--nbp-secondary) !important;
    color: var(--nbp-white) !important;
  }

  .nbp-checkbox-label.checked {
    font-weight: 600;
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--nbp-secondary) !important;
  }
}

.nbp-toggle-button-one-default {
  input {
    &:checked+span {
      background-color: var(--nbp-secondary) !important;

      small {
        background-color: var(--nbp-white) !important;
      }
    }
    &:disabled+span {
      opacity: 0.4 !important;
      cursor: no-drop !important;
    }
  }
}

.nbp-toggle-button-two-default {
  input {
    &:checked+span {
      background-color: var(--nbp-secondary) !important;

      small {
        background-color: var(--nbp-secondary) !important;
      }
    }
    &:disabled+span {
      opacity: 0.4 !important;
      cursor: no-drop !important;
    }
  }
}
