// White
.nbp-border-white {
  border: 1px solid var(--nbp-white) !important;
}
.nbp-border-color-white {
  border-color: var(--nbp-white) !important;
}
.nbp-color-white {
  color: var(--nbp-white) !important;
}

// Success
.nbp-border-success {
  border: 1px solid var(--nbp-success) !important;
}
.nbp-border-color-success {
  border-color: var(--nbp-success) !important;
}
.nbp-color-success {
  color: var(--nbp-success) !important;
}

// Info
.nbp-border-info {
  border: 1px solid var(--nbp-info) !important;
}
.nbp-border-color-info {
  border-color: var(--nbp-info) !important;
}
.nbp-color-info {
  color: var(--nbp-info) !important;
}

// Black
.nbp-border-black {
  border: 1px solid var(--nbp-black) !important;
}
.nbp-border-color-black {
  border-color: var(--nbp-black) !important;
}
.nbp-color-black {
  color: var(--nbp-black) !important;
}

// Default
.nbp-border-default {
  border: 1px solid var(--nbp-secondary) !important;
}
.nbp-border-color-default {
  border-color: var(--nbp-secondary) !important;
}
.nbp-color-default {
  color: var(--nbp-secondary) !important;
}

// Tomato
.nbp-border-tomato {
  border: 1px solid var(--nbp-tomato) !important;
}
.nbp-border-color-tomato {
  border-color: var(--nbp-tomato) !important;
}
.nbp-color-tomato {
  color: var(--nbp-tomato) !important;
}

// Danger
.nbp-border-danger {
  border: 1px solid var(--nbp-danger) !important;
}
.nbp-border-color-danger {
  border-color: var(--nbp-danger) !important;
}
.nbp-color-danger {
  color: var(--nbp-danger) !important;
}

// Warning
.nbp-border-warning {
  border: 1px solid var(--nbp-warning) !important;
}
.nbp-border-color-warning {
  border-color: var(--nbp-warning) !important;
}
.nbp-color-warning {
  color: var(--nbp-warning) !important;
}

// Primary
.nbp-border-primary {
  border: 1px solid var(--nbp-primary) !important;
}
.nbp-border-color-primary {
  border-color: var(--nbp-primary) !important;
}
.nbp-color-primary {
  color: var(--nbp-primary) !important;
}

// White Smoke
.nbp-border-white-smoke {
  border: 1px solid var(--nbp-white-smoke) !important;
}
.nbp-border-color-white-smoke {
  border-color: var(--nbp-white-smoke) !important;
}
.nbp-color-white-smoke {
  color: var(--nbp-white-smoke) !important;
}

// Warm Gray 20
.nbp-border-warm-gray-20 {
  border: 1px solid var(--nbp-warm-gray-20) !important;
}
.nbp-border-color-warm-gray-20 {
  border-color: var(--nbp-warm-gray-20) !important;
}
.nbp-color-warm-gray-20 {
  color: var(--nbp-warm-gray-20) !important;
}

// Night Rider
.nbp-border-night-rider {
  border: 1px solid var(--nbp-night-rider) !important;
}
.nbp-border-color-night-rider {
  border-color: var(--nbp-night-rider) !important;
}
.nbp-color-night-rider {
  color: var(--nbp-night-rider) !important;
}

// Sliver
.nbp-border-sliver {
  border: 1px solid var(--nbp-sliver) !important;
}
.nbp-border-color-sliver {
  border-color: var(--nbp-sliver) !important;
}
.nbp-color-silver {
  color: var(--nbp-silver) !important;
}

// Egyptian Blue
.nbp-border-egyptian-blue {
  border: 1px solid var(--nbp-egyptian-blue) !important;
}
.nbp-border-color-egyptian-blue {
  border-color: var(--nbp-egyptian-blue) !important;
}
.nbp-color-egyptian-blue {
  color: var(--nbp-egyptian-blue) !important;
}

// Floral White
.nbp-border-floral-white {
  border: 1px solid  var(--nbp-floral-white) !important;
}
.nbp-border-color-floral-white {
  border-color: var(--nbp-floral-white) !important;
}
.nbp-color-floral-white {
  color: var(--nbp-floral-white) !important;
}

// Mint Cream
.nbp-border-mint-cream {
  border: 1px solid  var(--nbp-mint-cream) !important;
}
.nbp-border-color-mint-cream {
  border-color: var(--nbp-mint-cream) !important;
}
.nbp-color-mint-cream {
  color: var(--nbp-mint-cream) !important;
}

// Misty Rose
.nbp-border-misty-rose {
  border: 1px solid  var(--nbp-misty-rose) !important;
}
.nbp-border-color-misty-rose {
  border-color: 1px solid  var(--nbp-misty-rose) !important;
}
.nbp-color-misty-rose {
  color: 1px solid  var(--nbp-misty-rose) !important;
}