// White
.nbp-border-white {
    border-top-color: var(--nbp-white) !important;
    border-bottom-color: var(--nbp-white) !important;
}

// Success
.nbp-border-success {
  border-top-color: var(--nbp-success) !important;
  border-bottom-color: var(--nbp-success) !important;
}

// Info
.nbp-border-info {
  border-top-color: var(--nbp-info) !important;
  border-bottom-color: var(--nbp-info) !important;
}

// Black
.nbp-border-black {
  border-top-color: var(--nbp-black) !important;
  border-bottom-color: var(--nbp-black) !important;
}

// Default
.nbp-border-default {
  border-top-color: var(--nbp-secondary) !important;
  border-bottom-color: var(--nbp-secondary) !important;
}

// Tomato
.nbp-border-tomato {
  border-top-color: var(--nbp-tomato) !important;
  border-bottom-color: var(--nbp-tomato) !important;
}

// Danger
.nbp-border-danger {
  border-top-color: var(--nbp-danger) !important;
  border-bottom-color: var(--nbp-danger) !important;
}

// Warning
.nbp-border-warning {
  border-top-color: var(--nbp-warning) !important;
  border-bottom-color: var(--nbp-warning) !important;
}

// Primary
.nbp-border-primary {
  border-top-color: var(--nbp-primary) !important;
  border-bottom-color: var(--nbp-primary) !important;
}

// White Smoke
.nbp-border-white-smoke {
  border-top-color: var(--nbp-white-smoke) !important;
  border-bottom-color: var(--nbp-white-smoke) !important;
}

// Warm Gray 20
.nbp-border-warm-gray-20 {
  border-top-color: var(--nbp-warm-gray-20) !important;
  border-bottom-color: var(-nbp-warm-gray-20) !important;
}

// Night Rider
.nbp-border-night-rider {
  border-top-color: var(--nbp-night-rider) !important;
  border-bottom-color: var(-nbp-night-rider) !important;
}

// Sliver
.nbp-border-sliver {
  border-top-color: var(--nbp-sliver) !important;
  border-bottom-color: var(-nbp-sliver) !important;
}