// White
.nbp-border-white {
  border-color: var(--nbp-white) !important;
}
.nbp-color-white {
  color: var(--nbp-white) !important;
}

// Success
.nbp-border-success {
  border-color: var(--nbp-success) !important;
}
.nbp-color-success {
  color: var(--nbp-success) !important;
}

// Info
.nbp-border-info {
  border-color: var(--nbp-info) !important;
}
.nbp-color-info {
  color: var(--nbp-info) !important;
}

// Black
.nbp-border-black {
  border-color: var(--nbp-black) !important;
}
.nbp-color-black {
  color: var(--nbp-black) !important;
}

// Default
.nbp-border-default {
  border-color: var(--nbp-secondary) !important;
}
.nbp-color-default {
  color: var(--nbp-secondary) !important;
}

// Tomato
.nbp-border-tomato {
  border-color: var(--nbp-tomato) !important;
}
.nbp-color-tomato {
  color: var(--nbp-tomato) !important;
}

// Danger
.nbp-border-danger {
  border-color: var(--nbp-danger) !important;
}
.nbp-color-danger {
  color: var(--nbp-danger) !important;
}

// Warning
.nbp-border-warning {
  border-color: var(--nbp-warning) !important;
}
.nbp-color-warning {
  color: var(--nbp-warning) !important;
}

// Primary
.nbp-border-primary {
  border-color: var(--nbp-primary) !important;
}
.nbp-color-primary {
  color: var(--nbp-primary) !important;
}

// White Smoke
.nbp-border-white-smoke {
  border-color: var(--nbp-white-smoke) !important;
}
.nbp-color-white-smoke {
  color: var(--nbp-white-smoke) !important;
}

// Warm Gray 20
.nbp-border-warm-gray-20 {
  border-color: var(--nbp-warm-gray-20) !important;
}
.nbp-color-warm-gray-20 {
  color: var(--nbp-warm-gray-20) !important;
}

// Night Rider
.nbp-border-night-rider {
  border-color: var(--nbp-night-rider) !important;
}
.nbp-color-night-rider {
  color: var(--nbp-night-rider) !important;
}

// Sliver
.nbp-border-sliver {
  border-color: var(--nbp-sliver) !important;
}
.nbp-color-silver {
  color: var(--nbp-silver) !important;
}