
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6  {
  font-family: OpenSans-Bold, sans-serif;
  line-height: 1.1;
  margin: 15px 0px;
  text-transform: none;
}

.h1, h1 {
   @include nbp-font-size-balise(42);
}

.h2, h2 {
  @include nbp-font-size-balise(34);
}

.h3, h3 {
  @include nbp-font-size-balise(30);
}

.h4, h4 {
  @include nbp-font-size-balise(26);
}

.h5, h5 {
  @include nbp-font-size-balise(22);
}

.h6, h6 {
  @include nbp-font-size-balise(16);
}

.nbp-p1 {
  font-family: OpenSans-Regular, sans-serif;
  @include nbp-font-size-balise(24);
  line-height: 32px;
  letter-spacing: 0;
  text-transform: lowercase;
}

.nbp-p2 {
  font-family: OpenSans-Regular, sans-serif;
  @include nbp-font-size-balise(18);
  line-height: 24px;
  letter-spacing: 0;
  text-transform: lowercase;
}

.nbp-p3 {
  font-family: OpenSans-Regular, sans-serif;
  @include nbp-font-size-balise(14);
  line-height: 20px;
  letter-spacing: 0;
  text-transform: lowercase;
}

.nbp-p4 {
  font-family: OpenSans-Regular, sans-serif;
  @include nbp-font-size-balise(12);
  line-height: 18px;
  letter-spacing: 0;
  text-transform: lowercase;
}