.nbp-alert-box-wrapper-fourth {
  .nbp-alert-box-container {
    margin-bottom: 0.925rem;
    padding: 0.925rem;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;

    .nbp-alert-box-message {
      padding: 5px 0px;
    }
  }
}
