<div class="nbp-color-page-wrapper">
  <div class="container my-5">
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line
            [nbpTitle]="title"
            [nbpColorStyle]="_style.DEFAULT"
          ></nbp-dividing-line>
      </div>
    </div>
    <div class="nbp-color-page-content row nbp-background-white">
      <div *ngFor="let color of _model.component.NbpColorComponent.colors">
        <nbp-color
          [nbpColorStyle]="color.label"
          [nbpColorName]="color.name"
          [nbpColorCode]="color.code"
        ></nbp-color>
      </div>
    </div>
  </div>
</div>