.nbp-dividing-line-two-wrapper {
  span {
    font-size: 0.975rem;
    font-weight: 600;
    line-height: 1rem;
    vertical-align: middle;
  }
  .nbp-dividing-line {
    border: 0;
    border-top: 1px solid;
  }
}
