<div class="nbp-alert-box-wrapper-two">
  <div class="nbp-alert-box-container" [ngClass]="nbpAlertBoxType">
    <div class="row nbp-alert-box-row">
      <div class="col-md-1 nbp-text-align-center" [ngClass]="nbpAlertBoxColor">
        <span class="nbp-alert-box-icon nbp-font-size-30"
          ><i class="npb-font-size-40" [ngClass]="nbpAlertBoxIcon"></i
        ></span>
      </div>
      <div class="col-md-11">
        <div class="nbp-alert-box-message">
          <span>{{ nbpAlertText }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
