.nbp-tab-bar-three-wrapper{
    .nav-item{
        // border: 1px solid #afb0b3;
        a{
          cursor: pointer;
            .nbpIconCss{
                cursor: pointer;
                display: block;
                text-align: initial;
                margin-left: 30px;
            }

        }

    }
}