<div class="nbp-oldPass-to-newPass-wrapper">
  <div class="nbp-oldPass-to-newPass-container container">
    <div class="pt-4" *ngIf="!nbpChangePasswordSuccess">
      <nbp-alert-box-three
        [nbpAlertText]="'You requested a temporary password during your last logged in. To access Nbp System Components, you need to change your password.'"
        [nbpAlertType]="_alert.INFO">
      </nbp-alert-box-three>
    </div>
    <div class="row nbp-oldPass-to-newPass-row">
      <div class="col-md-4 nbp-oldPass-to-newPass-content" *ngIf="!nbpChangePasswordSuccess">
        <nbp-alert-box-fourth *ngIf="!!nbpChangeOldPasswordErrorMessage.length" [nbpAlertText]="nbpChangeOldPasswordErrorMessage"
          [nbpAlertType]="_alert.ERROR">
        </nbp-alert-box-fourth>
        <form>
          <div class="form-group">
            <nbp-input-password [nbpInputLabel]="_model.component.NbpAuthComponent.passwordInput.label3"
              [nbpInputName]="_model.component.NbpAuthComponent.passwordInput.oldPassword"
              [nbpInputLabelRequired]="_model.component.NbpAuthComponent.passwordInput.required"
              [nbpInputRequired]="true" [nbpInputBorderType]="_style.ROUNDED"
              [nbpInputErrorMessage]="_model.component.NbpAuthComponent.newOldPasswordInput.requiredMessage2"
              [nbpInputPlaceholder]="_model.component.NbpAuthComponent.newOldPasswordInput.placeholder2"
              [nbpInputIcon]="_model.component.NbpAuthComponent.newOldPasswordInput.hidePassword"
              [nbpInputIconRequired]="true" (nbpInputModel)="nbpInputModels($event)">
            </nbp-input-password>
          </div>
          <div class="form-group">
            <nbp-input-password [nbpInputLabel]="_model.component.NbpAuthComponent.passwordInput.label2"
              [nbpInputName]="_model.component.NbpAuthComponent.passwordInput.newPassword"
              [nbpInputLabelRequired]="_model.component.NbpAuthComponent.passwordInput.required"
              [nbpInputRequired]="true" [nbpInputBorderType]="_style.ROUNDED"
              [nbpInputErrorMessage]="_model.component.NbpAuthComponent.newOldPasswordInput.requiredMessage1"
              [nbpInputPlaceholder]="_model.component.NbpAuthComponent.newOldPasswordInput.placeholder1"
              [nbpInputIcon]="_model.component.NbpAuthComponent.newOldPasswordInput.hidePassword"
              [nbpInputIconRequired]="true" (nbpInputModel)="nbpInputModels($event)">
            </nbp-input-password>
          </div>
          <div class="form-group">
            <nbp-input-password [nbpInputLabel]="_model.component.NbpAuthComponent.confirmPasswordInput.label2"
              [nbpInputName]="_model.component.NbpAuthComponent.confirmPasswordInput.name"
              [nbpInputLabelRequired]="_model.component.NbpAuthComponent.confirmPasswordInput.required"
              [nbpInputRequired]="true" [nbpInputBorderType]="_style.ROUNDED"
              [nbpInputErrorMessage]="_model.component.NbpAuthComponent.confirmPasswordInput.requiredMessage"
              [nbpInputPlaceholder]="_model.component.NbpAuthComponent.confirmPasswordInput.placeholder"
              [nbpInputIcon]="_model.component.NbpAuthComponent.confirmPasswordInput.hidePassword"
              [nbpInputIconRequired]="true" (nbpInputModel)="nbpInputModels($event)">
            </nbp-input-password>
          </div>
          <div class="form-group pt-4">
            <nbp-button class="nbp-login-submit"
              [nbpButtonLabel]="_model.component.NbpAuthComponent.submitInput.resetPassword"
              [nbpButtonSize]="_size.MD" [nbpButtonColor]="_style.PRIMARY" [nbpButtonType]="_style.ROUNDED"
              [nbpButtonFullWidth]="true" [nbpButtonDisabled]="nbpPasswordDisabled"
              (click)="nbpChangePasswordSubmit()">
            </nbp-button>
          </div>
        </form>
      </div>
      <div class="text-center" *ngIf="nbpChangePasswordSuccess">
        <nbp-feedback [nbpTitle]="nbpChangeOldPasswordErrorMessage"> </nbp-feedback>
        <nbp-deep-link [nbpDeepLinkStyle]="_style.PRIMARY"
          [nbpDeepLinkName]="_model.component.NbpAuthComponent.submitInput.success"
          [nbpDeepLinkTextTransform]="_pipe.UPPERCASE" [nbpDeepLinkRedirection]="'/login'"
          [nbpDeepLinkTarget]="false">
        </nbp-deep-link>
      </div>
    </div>
  </div>
</div>
