.nbp-oldPass-to-newPass-wrapper {
    .nbp-oldPass-to-newPass-container {
      .nbp-oldPass-to-newPass-row {
        display: flex;
        justify-content: center;
        .nbp-oldPass-to-newPass-content {
            border: 2px solid var(--nbp-primary) !important;
            border-radius: 5px;
            margin: 20px;
            padding: 25px;
        }
      }
    }
  }
  