<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one 
       [nbpTitle]="'tab-bar 1 & 2'" 
       [nbpColorStyle]="_style.DEFAULT">
      </nbp-dividing-line-one>
    </div>
  </div>
    <div class="col-18">
      <nbp-tab-bar 
        [NbpTabbarInputOne]="_model.component.NbpTabBarComponent.title">
      </nbp-tab-bar>
    </div>
    <br>  
    <!-- <div class="col-18">
      <nbp-tab-bar  
        [NbpTabbarPosition]="_tabbarPosition.CENTER"  
        [NbpTabbarInputOne]="'Active'" 
        [NbpTabbarInputTwo]="'Links'" 
        [NbpTabbarInputThree]="'Google'"
        [NbpTabbarInputFour]="'Address'"
        [NbpTabbarInputFive]="'Disabled card'">
      </nbp-tab-bar>
    </div>
    <br>
    <div class="col-18">  
      <nbp-tab-bar 
      [NbpTabbarPosition]="_tabbarPosition.RIGHT"  
      [NbpTabbarInputOne]="'Active'" 
      [NbpTabbarInputTwo]="'Links'" 
      [NbpTabbarInputThree]="'Google'"
      [NbpTabbarInputFour]="'Address'"
      [NbpTabbarInputFive]="'Disabled card'">
      </nbp-tab-bar>
    </div>
    <br>
    <div class="col-18">  
      <nbp-tab-bar 
      [NbpTabbarPosition]="_tabbarPosition.FLEX"  
      [NbpTabbarInputOne]="'Active'" 
      [NbpTabbarInputTwo]="'Links'" 
      [NbpTabbarInputThree]="'Google'"
      [NbpTabbarInputFour]="'Address'"
      [NbpTabbarInputFive]="'Disabled card'">
      </nbp-tab-bar>
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar 
        [NbpTabbarPosition]="_tabbarPosition.LEFT"   
        [NbpTabbarInputOne]="'Active'" 
        [NbpTabbarInputTwo]="'Links'" 
        [NbpTabbarInputThree]="'Google'"
        [NbpTabbarInputFour]="'Address'"
        [NbpTabbarInputFive]="'Disabled card'"
        [NbpTabbarType]="_tabbarType.PILLS">
      </nbp-tab-bar>
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar 
        [NbpTabbarPosition]="_tabbarPosition.CENTER"   
        [NbpTabbarInputOne]="'Active'" 
        [NbpTabbarInputTwo]="'Links'" 
        [NbpTabbarInputThree]="'Google'"
        [NbpTabbarInputFour]="'Address'"
        [NbpTabbarInputFive]="'Disabled card'"
        [NbpTabbarType]="_tabbarType.PILLS">
      </nbp-tab-bar>
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar 
        [NbpTabbarPosition]="_tabbarPosition.RIGHT"   
        [NbpTabbarInputOne]="'Active'" 
        [NbpTabbarInputTwo]="'Links'" 
        [NbpTabbarInputThree]="'Google'"
        [NbpTabbarInputFour]="'Address'"
        [NbpTabbarInputFive]="'Disabled card'"
        [NbpTabbarType]="_tabbarType.PILLS">
      </nbp-tab-bar>
    </div>
    <br>
    <div class="col-18">  
      <nbp-tab-bar 
      [NbpTabbarInputOne]="'Active'" 
      [NbpTabbarInputTwo]="'Links'" 
      [NbpTabbarInputThree]="'Google'"
      [NbpTabbarInputFour]="'Address'"
      [NbpTabbarInputFive]="'Disabled card'"
      [NbpTabbarType]="_tabbarType.JUSTIFIED">  
      </nbp-tab-bar> 
    </div>
    <br>
    <div class="col-18">  
      <nbp-tab-bar 
      [NbpTabbarInputOne]="'Active'" 
      [NbpTabbarInputTwo]="'Links'" 
      [NbpTabbarInputThree]="'Google'"
      [NbpTabbarInputFour]="'Address'"
      [NbpTabbarInputFive]="'Disabled card'"
      [NbpTabbarType]="_tabbarType.PILLSANDJUSTIFY">  
      </nbp-tab-bar> 
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar-two 
        [NbpTabbarInputOne]="'Active'" 
        [NbpTabbarInputTwo]="'Links'" 
        [NbpTabbarInputThree]="'Google'"
        [NbpTabbarInputFour]="'Address'"
        [NbpTabbarInputFive]="'Disabled card'"
        [NbpTabbarType]="_tabbarType.TABS">
      </nbp-tab-bar-two>
    </div>
  <br>
    <div class="col-18">
      <nbp-tab-bar-two 
        [NbpTabbarPosition]="_tabbarPosition.CENTER"
        [NbpTabbarInputOne]="'Active'" 
        [NbpTabbarInputTwo]="'Links'" 
        [NbpTabbarInputThree]="'Google'"
        [NbpTabbarInputFour]="'Address'"
        [NbpTabbarInputFive]="'Disabled card'"
        [NbpTabbarType]="_tabbarType.TABS">
      </nbp-tab-bar-two>
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar-two 
        [NbpTabbarPosition]="_tabbarPosition.RIGHT"
        [NbpTabbarInputOne]="'Active'" 
        [NbpTabbarInputTwo]="'Links'" 
        [NbpTabbarInputThree]="'Google'"
        [NbpTabbarInputFour]="'Address'"
        [NbpTabbarInputFive]="'Disabled card'"
        [NbpTabbarType]="_tabbarType.TABS">
      </nbp-tab-bar-two>
    </div>
    <br>
    <div class="col-18">  
      <nbp-tab-bar-two  
      [NbpTabbarInputOne]="'Active'"  
      [NbpTabbarInputTwo]="'Links'" 
      [NbpTabbarInputThree]="'Google'"
      [NbpTabbarInputFour]="'Address'"
      [NbpTabbarInputFive]="'Disabled card'"
      [NbpTabbarType]="_tabbarType.PILLSANDJUSTIFY">
      </nbp-tab-bar-two>
    </div>
    <br>
    <div class="col-18">  
      <nbp-tab-bar-two 
      [NbpTabbarInputOne]="'Active'" 
      [NbpTabbarInputTwo]="'Links'" 
      [NbpTabbarInputThree]="'Google'"
      [NbpTabbarInputFour]="'Address'"
      [NbpTabbarInputFive]="'Disabled card'"
      [NbpTabbarType]="_tabbarType.JUSTIFIED">  
      </nbp-tab-bar-two> 
    </div>
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one 
         [nbpTitle]="'tab-bar 3 with Icons'" 
         [nbpColorStyle]="_style.DEFAULT">
        </nbp-dividing-line-one>
      </div>
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar-three 
        [NbpTabbarPosition]="_tabbarPosition.LEFT"
        [NbpTabbarInputOne]="'CALENDAR'" 
        [NbpTabbarInputTwo]="'DOCUMENT'" 
        [NbpTabbarInputThree]="'SETTINGS'"
        [NbpTabbarInputFour]="'UTENTE ADDRESS'"
        [NbpTabbarInputFive]="'BUSSINESS TIME'"
        [NbpTabbarType]="_tabbarType.TABS"
        [nbpTabbarIconNameOne]="'nbp-icon-calendar-minus'" 
        [nbpTabbarIconNameTwo]="'nbp-icon-briefcase'"
        [nbpTabbarIconNameThree]="'nbp-icon-bars'"
        [nbpTabbarIconNameFour]="'nbp-icon-address-book'"
        [nbpTabbarIconNameFive]="'nbp-icon-business-time'">
      </nbp-tab-bar-three>
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar-three 
        [NbpTabbarPosition]="_tabbarPosition.CENTER"
        [NbpTabbarInputOne]="'CALENDAR'" 
        [NbpTabbarInputTwo]="'DOCUMENT'" 
        [NbpTabbarInputThree]="'SETTINGS'"
        [NbpTabbarInputFour]="'UTENTE ADDRESS'"
        [NbpTabbarInputFive]="'BUSSINESS TIME'"
        [NbpTabbarType]="_tabbarType.TABS"
        [nbpTabbarIconNameOne]="'nbp-icon-calendar-minus'" 
        [nbpTabbarIconNameTwo]="'nbp-icon-briefcase'"
        [nbpTabbarIconNameThree]="'nbp-icon-bars'"
        [nbpTabbarIconNameFour]="'nbp-icon-address-book'"
        [nbpTabbarIconNameFive]="'nbp-icon-business-time'">
      </nbp-tab-bar-three>
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar-three 
        [NbpTabbarPosition]="_tabbarPosition.RIGHT"
        [NbpTabbarInputOne]="'CALENDAR'" 
        [NbpTabbarInputTwo]="'DOCUMENT'" 
        [NbpTabbarInputThree]="'SETTINGS'"
        [NbpTabbarInputFour]="'UTENTE ADDRESS'"
        [NbpTabbarInputFive]="'BUSSINESS TIME'"
        [NbpTabbarType]="_tabbarType.TABS"
        [nbpTabbarIconNameOne]="'nbp-icon-calendar-minus'" 
        [nbpTabbarIconNameTwo]="'nbp-icon-briefcase'"
        [nbpTabbarIconNameThree]="'nbp-icon-bars'"
        [nbpTabbarIconNameFour]="'nbp-icon-address-book'"
        [nbpTabbarIconNameFive]="'nbp-icon-business-time'">
      </nbp-tab-bar-three>
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar-three 
        [NbpTabbarPosition]="_tabbarPosition.LEFT"
        [NbpTabbarInputOne]="'CALENDAR'" 
        [NbpTabbarInputTwo]="'DOCUMENT'" 
        [NbpTabbarInputThree]="'SETTINGS'"
        [NbpTabbarInputFour]="'UTENTE ADDRESS'"
        [NbpTabbarInputFive]="'BUSSINESS TIME'"
        [NbpTabbarType]="_tabbarType.PILLS"
        [nbpTabbarIconNameOne]="'nbp-icon-calendar-minus'" 
        [nbpTabbarIconNameTwo]="'nbp-icon-briefcase'"
        [nbpTabbarIconNameThree]="'nbp-icon-bars'"
        [nbpTabbarIconNameFour]="'nbp-icon-address-book'"
        [nbpTabbarIconNameFive]="'nbp-icon-business-time'">
      </nbp-tab-bar-three>
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar-three 
        [NbpTabbarPosition]="_tabbarPosition.CENTER"
        [NbpTabbarInputOne]="'CALENDAR'" 
        [NbpTabbarInputTwo]="'DOCUMENT'" 
        [NbpTabbarInputThree]="'SETTINGS'"
        [NbpTabbarInputFour]="'UTENTE ADDRESS'"
        [NbpTabbarInputFive]="'BUSSINESS TIME'"
        [NbpTabbarType]="_tabbarType.PILLS"
        [nbpTabbarIconNameOne]="'nbp-icon-calendar-minus'" 
        [nbpTabbarIconNameTwo]="'nbp-icon-briefcase'"
        [nbpTabbarIconNameThree]="'nbp-icon-bars'"
        [nbpTabbarIconNameFour]="'nbp-icon-address-book'"
        [nbpTabbarIconNameFive]="'nbp-icon-business-time'">
      </nbp-tab-bar-three>
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar-three 
        [NbpTabbarPosition]="_tabbarPosition.RIGHT"
        [NbpTabbarInputOne]="'CALENDAR'" 
        [NbpTabbarInputTwo]="'DOCUMENT'" 
        [NbpTabbarInputThree]="'SETTINGS'"
        [NbpTabbarInputFour]="'UTENTE ADDRESS'"
        [NbpTabbarInputFive]="'BUSSINESS TIME'"
        [NbpTabbarType]="_tabbarType.PILLS"
        [nbpTabbarIconNameOne]="'nbp-icon-calendar-minus'" 
        [nbpTabbarIconNameTwo]="'nbp-icon-briefcase'"
        [nbpTabbarIconNameThree]="'nbp-icon-bars'"
        [nbpTabbarIconNameFour]="'nbp-icon-address-book'"
        [nbpTabbarIconNameFive]="'nbp-icon-business-time'">
      </nbp-tab-bar-three>
    </div>
    <br>
    <br>
    <div class="col-18">
      <nbp-tab-bar-three 
        [NbpTabbarPosition]="_tabbarPosition.RIGHT"
        [NbpTabbarInputOne]="'CALENDAR'" 
        [NbpTabbarInputTwo]="'DOCUMENT'" 
        [NbpTabbarInputThree]="'SETTINGS'"
        [NbpTabbarInputFour]="'UTENTE ADDRESS'"
        [NbpTabbarInputFive]="'BUSSINESS TIME'"
        [NbpTabbarType]="_tabbarType.JUSTIFIED"
        [nbpTabbarIconNameOne]="'nbp-icon-calendar-minus'" 
        [nbpTabbarIconNameTwo]="'nbp-icon-briefcase'"
        [nbpTabbarIconNameThree]="'nbp-icon-bars'"
        [nbpTabbarIconNameFour]="'nbp-icon-address-book'"
        [nbpTabbarIconNameFive]="'nbp-icon-business-time'">
      </nbp-tab-bar-three>
    </div>
    <br>
    <br>
    <div class="col-18">
      <nbp-tab-bar-three 
        [NbpTabbarPosition]="_tabbarPosition.RIGHT"
        [NbpTabbarInputOne]="'CALENDAR'" 
        [NbpTabbarInputTwo]="'DOCUMENT'" 
        [NbpTabbarInputThree]="'SETTINGS'"
        [NbpTabbarInputFour]="'UTENTE ADDRESS'"
        [NbpTabbarInputFive]="'BUSSINESS TIME'"
        [NbpTabbarType]="_tabbarType.PILLSANDJUSTIFY"
        [nbpTabbarIconNameOne]="'nbp-icon-calendar-minus'" 
        [nbpTabbarIconNameTwo]="'nbp-icon-briefcase'"
        [nbpTabbarIconNameThree]="'nbp-icon-bars'"
        [nbpTabbarIconNameFour]="'nbp-icon-address-book'"
        [nbpTabbarIconNameFive]="'nbp-icon-business-time'">
      </nbp-tab-bar-three>
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar-three 
        [NbpTabbarPosition]="_tabbarPosition.FLEX"
        [NbpTabbarInputOne]="'CALENDAR'" 
        [NbpTabbarInputTwo]="'DOCUMENT'" 
        [NbpTabbarInputThree]="'SETTINGS'"
        [NbpTabbarInputFour]="'UTENTE ADDRESS'"
        [NbpTabbarInputFive]="'BUSSINESS TIME'"
        [NbpTabbarType]="_tabbarType.TABS"
        [nbpTabbarIconNameOne]="'nbp-icon-calendar-minus'" 
        [nbpTabbarIconNameTwo]="'nbp-icon-briefcase'"
        [nbpTabbarIconNameThree]="'nbp-icon-bars'"
        [nbpTabbarIconNameFour]="'nbp-icon-address-book'"
        [nbpTabbarIconNameFive]="'nbp-icon-business-time'">
      </nbp-tab-bar-three>
    </div>
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one 
         [nbpTitle]="'tab-bar 5'" 
         [nbpColorStyle]="_style.DEFAULT">
        </nbp-dividing-line-one>
      </div>
    </div>
    <div class="col-18">
      <nbp-tab-bar-five 
        [NbpTabbarInputOne]="'nbp-icon-calendar-minus'" 
        [NbpTabbarInputTwo]="'nbp-icon-briefcase'"
        [NbpTabbarInputThree]="'nbp-icon-bars'"
        [NbpTabbarInputFour]="'nbp-icon-address-book'"
        [NbpTabbarInputFive]="'nbp-icon-business-time'"
        [nbpTabbarContentOne]="'nbp-icon-calendar-minus'" 
        [nbpTabbarContentTwo]="'nbp-icon-briefcase'"
        [nbpTabbarContentThree]="'nbp-icon-bars'"
        [nbpTabbarContentFour]="'nbp-icon-address-book'"
        [nbpTabbarContentFive]="'nbp-icon-business-time'">
      </nbp-tab-bar-five>
    </div>
    <br>
    <div class="col-18">
      <nbp-tab-bar-five 
        [NbpTabbarInputOne]="'nbp-icon-calendar-minus'" 
        [NbpTabbarInputTwo]="'nbp-icon-briefcase'"
        [NbpTabbarInputThree]="'nbp-icon-bars'"
        [NbpTabbarInputFour]="'nbp-icon-address-book'"
        [NbpTabbarInputFive]="'nbp-icon-business-time'"
        [nbpTabbarContentOne]="'nbp-icon-calendar-minus'" 
        [nbpTabbarContentTwo]="'nbp-icon-briefcase'"
        [nbpTabbarContentThree]="'nbp-icon-bars'"
        [nbpTabbarContentFour]="'nbp-icon-address-book'"
        [nbpTabbarContentFive]="'nbp-icon-business-time'">
      </nbp-tab-bar-five>
    </div> -->
</div>  


