<!--The content below is only a placeholder and can be replaced.-->
<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <h1 class="my-4">
        Welcome to {{ title }}!
      </h1>
    </div>
  </div>

  <nbp-dividing-line [nbpTitle]="nbpTitle" [nbpColorStyle]="_style.PRIMARY"></nbp-dividing-line>
  <nbp-background-box [nbpTitle]="nbpBackgroundBox.title" [nbpSubTitle]="nbpBackgroundBox.subtitle"
    [nbpFontSize]="_fontSize.MEDIUM" [nbpTextTransform]="_pipe.UPPERCASE">
  </nbp-background-box>
  <div class="row">
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpDisabled]="true"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpSize]="_size.MD" [nbpStyleType]="_style.OUTLINE"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpDisabled]="true" [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpSize]="_size.LG" [nbpStyleType]="_style.ROUNDED"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpDisabled]="true" [nbpSize]="_size.LG"
        [nbpStyleType]="_style.ROUNDED"></nbp-button>
    </div>
  </div>
  <nbp-alert-box></nbp-alert-box>
  <br />

  <nbp-dividing-line [nbpTitle]="nbpTitleCta.title" [nbpCta]="true" [nbpCtaText]="nbpTitleCta.cta"
    [nbpColorStyle]="_style.DANGER"></nbp-dividing-line>
  <nbp-background-box [nbpBackgroundStyle]="_style.PRIMARY" [nbpColorStyle]="_style.WHITE"
    [nbpTitle]="nbpBackgroundBox.title" [nbpSubTitle]="nbpBackgroundBox.subtitle" [nbpTitlePosition]="_style.CENTER"
    [nbpFontSize]="_fontSize.MEDIUM" [nbpTextTransform]="_pipe.UPPERCASE">
  </nbp-background-box>
  <div class="row">
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpColorStyle]="_style.PRIMARY"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpColorStyle]="_style.PRIMARY" [nbpDisabled]="true"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpSize]="_size.MD" [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.OUTLINE"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpSize]="_size.MD" [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.OUTLINE" [nbpDisabled]="true"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpSize]="_size.LG" [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.ROUNDED"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpSize]="_size.LG" [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.ROUNDED" [nbpDisabled]="true"></nbp-button>
    </div>
  </div>

  <br />

  <nbp-dividing-line [nbpTitle]="nbpTitleCtaReadOnly.title" [nbpCta]="true" [nbpColorStyle]="_style.PRIMARY"
    [nbpCtaReadOnly]="true" [nbpCtaText]="nbpTitleCtaReadOnly.cta"></nbp-dividing-line>
  <nbp-background-box [nbpBackgroundStyle]="_style.DANGER" [nbpColorStyle]="_style.WHITE"
    [nbpTitle]="nbpBackgroundBox.title" [nbpSubTitle]="nbpBackgroundBox.subtitle" [nbpTitlePosition]="_style.RIGHT"
    [nbpFontSize]="_fontSize.MEDIUM" [nbpTextTransform]="_pipe.UPPERCASE">
  </nbp-background-box>
  <div class="row">
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpColorStyle]="_style.DANGER"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpColorStyle]="_style.DANGER" [nbpDisabled]="true"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpSize]="_size.MD" [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.OUTLINE"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpSize]="_size.MD" [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.OUTLINE" [nbpDisabled]="true"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpSize]="_size.LG" [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.ROUNDED"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button [nbpLabel]="nbpButton.label" [nbpSize]="_size.LG" [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.ROUNDED" [nbpDisabled]="true"></nbp-button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>