<!--The content below is only a placeholder and can be replaced.-->
<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <h1 class="my-4">Welcome to {{ title }}!</h1>
    </div>
  </div>

  <nbp-dividing-line
    [nbpTitle]="component.NbpDividingLineComponent.nbpTitle"
    [nbpColorStyle]="_style.DEFAULT"
  ></nbp-dividing-line>
  <nbp-background-box
    [nbpTitle]="component.NbpBackgroundBoxComponent.title"
    [nbpSubTitle]="component.NbpBackgroundBoxComponent.subtitle"
    [nbpFontSize]="_fontSize.MEDIUM"
    [nbpTextTransform]="_pipe.UPPERCASE"
  >
  </nbp-background-box>
  <div class="row">
    <div class="col-md-2">
      <nbp-button [nbpLabel]="component.NbpButtonComponent.label"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpDisabled]="true"
        [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpStyleType]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpDisabled]="true"
        [nbpSize]="_size.LG"
        [nbpStyleType]="_style.ROUNDED"
      ></nbp-button>
    </div>
  </div>
  <nbp-alert-box *ngIf="!nbpAlertClose"
    [nbpText]="component.NbpAlertBoxComponent.title"
    [nbpClose]="'true'"
    [nbpColorStyle]="_style.PRIMARY"
    (nbpClickClose)="nbpOnClickClose($event)"
  ></nbp-alert-box>
  <br />

  <nbp-dividing-line
    [nbpTitle]="component.NbpDividingLineComponent.nbpTitleCta.title"
    [nbpColorTitle]="_style.PRIMARY"
    [nbpCta]="true"
    [nbpCtaTextShow]="component.NbpDividingLineComponent.nbpTitleCtaReadOnly.cta.show"
    [nbpCtaTextHide]="component.NbpDividingLineComponent.nbpTitleCtaReadOnly.cta.hide"
    [nbpColorStyle]="_style.PRIMARY"
    (nbpOnClickCta)="nbpOnClickCta($event)"
  ></nbp-dividing-line>
  <nbp-background-box
    [nbpBackgroundStyle]="_style.PRIMARY"
    [nbpColorStyle]="_style.WHITE"
    [nbpTitle]="component.NbpBackgroundBoxComponent.title"
    [nbpSubTitle]="component.NbpBackgroundBoxComponent.subtitle"
    [nbpTitlePosition]="_style.CENTER"
    [nbpFontSize]="_fontSize.MEDIUM"
    [nbpTextTransform]="_pipe.UPPERCASE"
  >
  </nbp-background-box>
  <div class="row" *ngIf="nbpShowPrimaryButtons">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.PRIMARY"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <nbp-alert-box 
    [nbpText]="component.NbpAlertBoxComponent.title"
    [nbpAlertType]="_alert.PROMOTIONAL"
    ></nbp-alert-box>
  <br />

  <nbp-dividing-line
    [nbpTitle]="component.NbpDividingLineComponent.nbpTitleCtaReadOnly.title"
    [nbpColorTitle]="_style.DANGER"
    [nbpCta]="true"
    [nbpColorStyle]="_style.DANGER"
    [nbpCtaReadOnly]="true"
    [nbpCtaTextShow]="component.NbpDividingLineComponent.nbpTitleCtaReadOnly.cta.show"
  ></nbp-dividing-line>
  <nbp-background-box
    [nbpBackgroundStyle]="_style.DANGER"
    [nbpColorStyle]="_style.WHITE"
    [nbpTitle]="component.NbpBackgroundBoxComponent.title"
    [nbpSubTitle]="component.NbpBackgroundBoxComponent.subtitle"
    [nbpTitlePosition]="_style.RIGHT"
    [nbpFontSize]="_fontSize.MEDIUM"
    [nbpTextTransform]="_pipe.UPPERCASE"
  >
  </nbp-background-box>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.DANGER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.DANGER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <nbp-alert-box 
    [nbpText]="component.NbpAlertBoxComponent.title"
    [nbpAlertType]="_alert.ERROR"
    ></nbp-alert-box>
</div>
<nbp-scroll-top></nbp-scroll-top>
<router-outlet></router-outlet>
