<div class="nbp-register-wrapper">
  <div class="nbp-register-container container my-3">
    <div class="nbp-register-title">
      <h2 class="nbp-color-primary nbp-register-title-one">System</h2>
      <h6 class="nbp-color-white nbp-register-title-two">Nbp</h6>
    </div>
    <h2 class="nbp-color-default nbp-register-subtitle">
      Make the best of your dream development
    </h2>
    <div class="row nbp-register-row">
      <div class="col-md-5 nbp-register-content" *ngIf="!nbpRegisterSuccess">
        <nbp-alert-box-fourth
          *ngIf="!!nbpRegisterErrorMessage.length"
          [nbpAlertText]="nbpRegisterErrorMessage"
          [nbpAlertType]="_alert.ERROR"
        >
        </nbp-alert-box-fourth>
        <form>
          <div class="form-group">
            <nbp-input-text
              [nbpInputLabel]="
                _model.component.NbpAuthComponent.textInput.label2
              "
              [nbpInputName]="_model.component.NbpAuthComponent.textInput.name"
              [nbpInputLabelRequired]="
                _model.component.NbpAuthComponent.textInput.required
              "
              [nbpInputRequired]="true"
              [nbpInputBorderType]="_style.ROUNDED"
              [nbpInputErrorMessage]="
                _model.component.NbpAuthComponent.textInput.requiredMessage
              "
              [nbpInputPlaceholder]="
                _model.component.NbpAuthComponent.textInput.placeholder
              "
              [nbpInputIcon]="_model.component.NbpAuthComponent.textInput.icon"
              [nbpInputIconRequired]="true"
              (nbpInputModel)="nbpInputModel($event)"
            ></nbp-input-text>
          </div>
          <div class="form-group">
            <nbp-input-text
              [nbpInputLabel]="
                _model.component.NbpAuthComponent.emailInput.label
              "
              [nbpInputName]="_model.component.NbpAuthComponent.emailInput.name"
              [nbpInputLabelRequired]="
                _model.component.NbpAuthComponent.emailInput.required
              "
              [nbpInputRequired]="true"
              [nbpInputBorderType]="_style.ROUNDED"
              [nbpInputErrorMessage]="
                _model.component.NbpAuthComponent.emailInput.requiredMessage
              "
              [nbpInputPlaceholder]="
                _model.component.NbpAuthComponent.emailInput.placeholder
              "
              [nbpInputIcon]="_model.component.NbpAuthComponent.emailInput.icon"
              [nbpInputIconRequired]="true"
              (nbpInputModel)="nbpInputModel($event)"
            ></nbp-input-text>
          </div>
          <div class="form-group">
            <nbp-input-password
              [nbpInputLabel]="
                _model.component.NbpAuthComponent.passwordInput.label
              "
              [nbpInputName]="
                _model.component.NbpAuthComponent.passwordInput.name
              "
              [nbpInputLabelRequired]="
                _model.component.NbpAuthComponent.passwordInput.required
              "
              [nbpInputRequired]="true"
              [nbpInputBorderType]="_style.ROUNDED"
              [nbpInputErrorMessage]="
                _model.component.NbpAuthComponent.passwordInput.requiredMessage
              "
              [nbpInputPlaceholder]="
                _model.component.NbpAuthComponent.passwordInput.placeholder
              "
              [nbpInputIcon]="
                _model.component.NbpAuthComponent.passwordInput.hidePassword
              "
              [nbpInputIconRequired]="true"
              (nbpInputModel)="nbpInputModel($event)"
            ></nbp-input-password>
          </div>
          <div class="form-group">
            <nbp-input-password
              [nbpInputLabel]="
                _model.component.NbpAuthComponent.confirmPasswordInput.label
              "
              [nbpInputName]="
                _model.component.NbpAuthComponent.confirmPasswordInput.name
              "
              [nbpInputLabelRequired]="
                _model.component.NbpAuthComponent.confirmPasswordInput.required
              "
              [nbpInputRequired]="true"
              [nbpInputBorderType]="_style.ROUNDED"
              [nbpInputErrorMessage]="
                _model.component.NbpAuthComponent.confirmPasswordInput
                  .requiredMessage
              "
              [nbpInputPlaceholder]="
                _model.component.NbpAuthComponent.confirmPasswordInput
                  .placeholder
              "
              [nbpInputIcon]="
                _model.component.NbpAuthComponent.confirmPasswordInput
                  .hidePassword
              "
              [nbpInputIconRequired]="true"
              (nbpInputModel)="nbpInputModel($event)"
            ></nbp-input-password>
          </div>
          <div class="form-group">
            <p class="nbp-text-align-center nbp-p3 nbp-color-default">
              By clicking Agree & Join, you agree to the Nbp System
              <a (click)="nbpUserPrivacy('agreement')" class="nbp-font-bold nbp-color-primary nbp-cursor-pointer">User Agreement</a>,
              <a (click)="nbpUserPrivacy('privacy')" class="nbp-font-bold nbp-color-primary nbp-cursor-pointer">Privacy Policy</a>,
              <a (click)="nbpUserPrivacy('cookie')" class="nbp-font-bold nbp-color-primary nbp-cursor-pointer">Cookie Policy</a>
            </p>
          </div>
          <div class="form-group pt-2">
            <nbp-button
              class="nbp-login-submit"
              [nbpButtonLabel]="
                _model.component.NbpAuthComponent.submitInput.agreeAndJoin
              "
              [nbpButtonSize]="_size.MD"
              [nbpButtonColor]="_style.PRIMARY"
              [nbpButtonType]="_style.ROUNDED"
              [nbpButtonFullWidth]="true"
              [nbpButtonDisabled]="nbpRegisterDisabled"
              (click)="nbpRegisterSubmit()"
            >
            </nbp-button>
          </div>
        </form>
        <nbp-dividing-line-one
          [nbpTitle]="_model.component.NbpAuthComponent.alreadyUser"
          [nbpColorStyle]="_style.DEFAULT"
        >
        </nbp-dividing-line-one>
        <div class="form-group pt-3">
          <nbp-button
            [nbpButtonLabel]="
              _model.component.NbpAuthComponent.submitInput.login
            "
            [nbpButtonSize]="_size.MD"
            [nbpButtonColor]="_style.PRIMARYHOVER"
            [nbpButtonType]="_style.OUTLINE"
            [nbpButtonForm]="_style.ROUNDED"
            [nbpButtonFullWidth]="true"
            (click)="nbpLoginSubmit()"
          ></nbp-button>
        </div>
      </div>
      <div class="text-center" *ngIf="nbpRegisterSuccess">
        <nbp-feedback [nbpTitle]="nbpRegisterSuccessMessage"> </nbp-feedback>
        <nbp-deep-link
          [nbpDeepLinkStyle]="_style.PRIMARY"
          [nbpDeepLinkName]="
            _model.component.NbpAuthComponent.submitInput.success
          "
          [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
          [nbpDeepLinkRedirection]="'/login'"
          [nbpDeepLinkTarget]="false"
        ></nbp-deep-link>
      </div>
    </div>
  </div>
</div>
