<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one
        [nbpTitle]="title1"
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col-md-6">
      <nbp-dropdown-list-one
        [nbpDropDownListItems]="
          _model.component.NbpDropdownListComponent.itemsOne
        "
        [nbpDropDownListName]="_model.component.NbpDropdownListComponent.name1"
        [nbpDropDownListValue]="
          _model.component.NbpDropdownListComponent.itemsOne[0].value
        "
        [nbpDropDownListLabel]="
          _model.component.NbpDropdownListComponent.label1
        "
        [nbpDropDownListLabelRequired]="
          _model.component.NbpDropdownListComponent.required
        "
        [nbpDropDownListPlaceholder]="
          _model.component.NbpDropdownListComponent.placeholder
        "
        [nbpDropDownListRequired]="true"
        [nbpDropDownListFilterItems]="false"
        [nbpDropDownListBorderType]="_style.ROUNDED"
        [nbpDropDownListErrorMessage]="
          _model.component.NbpDropdownListComponent.requiredMessage
        "
        (nbpDropDownListModel)="nbpInputModel($event)"
      ></nbp-dropdown-list-one>
    </div>
    <div class="col-md-6">
      <nbp-dropdown-list-one
        [nbpDropDownListName]="_model.component.NbpDropdownListComponent.name1"
        [nbpDropDownListLabel]="
          _model.component.NbpDropdownListComponent.label1
        "
        [nbpDropDownListValue]="
          _model.component.NbpDropdownListComponent.itemsOne[0].value
        "
        [nbpDropDownListLabelRequired]="
          _model.component.NbpDropdownListComponent.required
        "
        [nbpDropDownListPlaceholder]="
          _model.component.NbpDropdownListComponent.placeholder
        "
        [nbpDropDownListRequired]="false"
        [nbpDropDownListErrorMessage]="
          _model.component.NbpDropdownListComponent.requiredMessage
        "
        [nbpDropDownListDisabled]="true"
        (nbpDropDownListModel)="nbpInputModel($event)"
      ></nbp-dropdown-list-one>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col-md-6">
      <nbp-dropdown-list-one
        [nbpDropDownListItems]="
          _model.component.NbpDropdownListComponent.itemsOne
        "
        [nbpDropDownListName]="_model.component.NbpDropdownListComponent.name2"
        [nbpDropDownListLabel]="
          _model.component.NbpDropdownListComponent.label2
        "
        [nbpDropDownListLabelRequired]="
          _model.component.NbpDropdownListComponent.required
        "
        [nbpDropDownListPlaceholder]="
          _model.component.NbpDropdownListComponent.placeholder
        "
        [nbpDropDownListRequired]="true"
        [nbpDropDownListFilterItems]="true"
        [nbpDropDownListBorderType]="_style.ROUNDED"
        [nbpDropDownListErrorMessage]="
          _model.component.NbpDropdownListComponent.requiredMessage
        "
        (nbpDropDownListModel)="nbpInputModel($event)"
      ></nbp-dropdown-list-one>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one
        [nbpTitle]="title2"
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col-md-6">
      <nbp-dropdown-list-two
        [nbpDropDownListItems]="
          _model.component.NbpDropdownListComponent.itemsTwo
        "
        [nbpDropDownListName]="_model.component.NbpDropdownListComponent.name1"
        [nbpDropDownListLabel]="
          _model.component.NbpDropdownListComponent.label1
        "
        [nbpDropDownListItemsShowLimit]="2"
        [nbpDropDownListLabelRequired]="
          _model.component.NbpDropdownListComponent.required
        "
        [nbpDropDownListPlaceholder]="
          _model.component.NbpDropdownListComponent.placeholder
        "
        [nbpDropDownListRequired]="true"
        [nbpDropDownListFilterItems]="false"
        [nbpDropDownListBorderType]="_style.ROUNDED"
        [nbpDropDownListErrorMessage]="
          _model.component.NbpDropdownListComponent.requiredMessage
        "
        (nbpDropDownListModel)="nbpInputModel($event)"
      ></nbp-dropdown-list-two>
    </div>
    <div class="col-md-6">
      <nbp-dropdown-list-two
        [nbpDropDownListItems]="
          _model.component.NbpDropdownListComponent.itemsTwo
        "
        [nbpDropDownListSelectedItems]="
          _model.component.NbpDropdownListComponent.selectedItems
        "
        [nbpDropDownListItemsShowLimit]="2"
        [nbpDropDownListName]="_model.component.NbpDropdownListComponent.name1"
        [nbpDropDownListLabel]="
          _model.component.NbpDropdownListComponent.label1
        "
        [nbpDropDownListLabelRequired]="
          _model.component.NbpDropdownListComponent.required
        "
        [nbpDropDownListPlaceholder]="
          _model.component.NbpDropdownListComponent.placeholder
        "
        [nbpDropDownListRequired]="false"
        [nbpDropDownListErrorMessage]="
          _model.component.NbpDropdownListComponent.requiredMessage
        "
        [nbpDropDownListDisabled]="true"
        [nbpDropDownListSingleSelection]="false"
        [nbpDropDownListFilterItems]="true"
        (nbpDropDownListModel)="nbpInputModel($event)"
      ></nbp-dropdown-list-two>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col-md-6">
      <nbp-dropdown-list-two
        [nbpDropDownListItems]="
          _model.component.NbpDropdownListComponent.itemsTwo
        "
        [nbpDropDownListItemsShowLimit]="2"
        [nbpDropDownListName]="_model.component.NbpDropdownListComponent.name2"
        [nbpDropDownListLabel]="
          _model.component.NbpDropdownListComponent.label2
        "
        [nbpDropDownListLabelRequired]="
          _model.component.NbpDropdownListComponent.required
        "
        [nbpDropDownListPlaceholder]="
          _model.component.NbpDropdownListComponent.placeholder
        "
        [nbpDropDownListRequired]="true"
        [nbpDropDownListBorderType]="_style.ROUNDED"
        [nbpDropDownListFilterItems]="true"
        [nbpDropDownListErrorMessage]="
          _model.component.NbpDropdownListComponent.requiredMessage
        "
        (nbpDropDownListModel)="nbpInputModel($event)"
      ></nbp-dropdown-list-two>
    </div>
    <div class="col-md-6">
      <nbp-dropdown-list-two
        [nbpDropDownListItems]="
          _model.component.NbpDropdownListComponent.itemsTwo
        "
        [nbpDropDownListItemsShowLimit]="2"
        [nbpDropDownListName]="_model.component.NbpDropdownListComponent.name2"
        [nbpDropDownListLabel]="
          _model.component.NbpDropdownListComponent.label3
        "
        [nbpDropDownListLabelRequired]="
          _model.component.NbpDropdownListComponent.required
        "
        [nbpDropDownListPlaceholder]="
          _model.component.NbpDropdownListComponent.placeholder
        "
        [nbpDropDownListRequired]="true"
        [nbpDropDownListSingleSelection]="true"
        [nbpDropDownListErrorMessage]="
          _model.component.NbpDropdownListComponent.requiredMessage
        "
        [nbpDropDownListEnableCheckAll]="true"
        (nbpDropDownListModel)="nbpInputModel($event)"
      ></nbp-dropdown-list-two>
    </div>
  </div>
</div>
