<div class="nbp-box-page-wrapper">
  <div class="container my-5">
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one
          [nbpTitle]="title1"
          [nbpColorStyle]="_style.DEFAULT"
        ></nbp-dividing-line-one>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <nbp-box-one
          [nbpBoxTitle]="_model.component.NbpBoxComponent.title"
          [nbpBoxDescription]="_model.component.NbpBoxComponent.description"
          [nbpBoxDescriptionTruncate]="150"
          [nbpBoxCta]="_ctaType.BUTTON"
          [nbpBoxTitleCta]="_model.component.NbpBoxComponent.titleCta1"
          [nbpBoxTypeCta]="_style.PRIMARY"
        ></nbp-box-one>
      </div>
      <div class="col-md-4">
        <nbp-box-one
          [nbpBoxTitle]="_model.component.NbpBoxComponent.title"
          [nbpBoxDescription]="_model.component.NbpBoxComponent.description"
          [nbpBoxDescriptionTruncate]="150"
          [nbpBoxCta]="_ctaType.DEEP"
          [nbpBoxTitleCta]="_model.component.NbpBoxComponent.titleCta2"
          [nbpBoxTypeCta]="_style.SUCCESS"
          [nbpBoxCtaRedirection]="'/#/composants/links'"
          [nbpBoxCtaTarget]="false"
        ></nbp-box-one>
      </div>
      <div class="col-md-4">
        <nbp-box-one
          [nbpBoxTitle]="_model.component.NbpBoxComponent.title"
          [nbpBoxDescription]="_model.component.NbpBoxComponent.description"
          [nbpBoxDescriptionTruncate]="150"
          [nbpBoxCta]="_ctaType.ARROW"
          [nbpBoxTitleCta]="_model.component.NbpBoxComponent.titleCta3"
          [nbpBoxTypeCta]="_style.DANGER"
          [nbpBoxCtaRedirection]="_model.component.NbpLinkPageComponent.href"
          [nbpBoxCtaTarget]="true"
        ></nbp-box-one>
      </div>
    </div>
  </div>
</div>
