<div class="nbp-radio-wrapper">
  <div class="nbp-radio-container" [ngClass]="nbpRadio">
    <div class="nbp-radio-input" [ngClass]="nbpRadioInput">
      <input
        [id]="nbpInputRadioId"
        type="radio"
        class="form-control nbp-form-control"
        [name]="nbpRadioName"
        [value]="nbpRadioValue"
        [(ngModel)]="nbpRadioModel"
        (click)="nbpRadioClick($event)"
        [disabled]="nbpRadioDisabled"
      />
      <!-- <div class="nbp-radio-circle-icon" [ngClass]="nbpRadioBackground"></div> -->
      <div class="nbp-radio-label">
        <label [for]="nbpInputRadioId" class="nbp-font-size-18">{{
          nbpRadioLabel
        }}</label>
      </div>
    </div>
  </div>
</div>
{{nbpRadioModel}}

<!-- <div>
  <input type="radio" id="huey" name="drone" value="huey"
         checked>
  <label for="huey">Huey</label>
</div>

<div>
  <input type="radio" id="dewey" name="drone" value="dewey">
  <label for="dewey">Dewey</label>
</div>

<div>
  <input type="radio" id="louie" name="drone" value="louie">
  <label for="louie">Louie</label>
</div> -->

<!-- <h4>Sort by: (simple radio boxes)</h4>
<input type="radio" [(ngModel)]="sortWithoutGroup" value="rating"> Rating<br/>
<input type="radio" [(ngModel)]="sortWithoutGroup" value="date"> Date<br/>
<input type="radio" [(ngModel)]="sortWithoutGroup" value="watches"> Watch count<br/>
<input type="radio" [(ngModel)]="sortWithoutGroup" value="comments"> Comment count<br/>

<i>selected item:</i> <b>{{ sortWithoutGroup }}</b><br/><br/> -->