<div class="nbp-toggle-button-one-wrapper">
  <div class="nbp-toggle-button-one-container">
    <div class="row">
      <div class="col">
        <div class="nbp-toggle-button-checkbox nbp-toggle-button-switcher">
          <label [for]="nbpToggleButtonName" [ngClass]="nbpGetToggleType()">
            <input
              type="checkbox"
              [id]="nbpToggleButtonName"
              (click)="nbpToggleButtonClick($event)"
              [checked]="nbpToggleButtonChecked"
            />
            <span [ngClass]="nbpBorder"
              ><small [ngClass]="nbpBackground"></small
            ></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
