<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one [nbpTitle]="title" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nbp-input-radio [nbpRadioLabel]="'Default Radio'" [nbpRadioValue]="'default'" [nbpRadioName]="'radio1'" [nbpRadioStyle]="_style.DEFAULT">
      </nbp-input-radio>
    </div>
    <div class="col-md-2">
      <nbp-input-radio [nbpRadioLabel]="'Primary Radio'" [nbpRadioValue]="'primary'" [nbpRadioName]="'radio2'" [nbpRadioStyle]="_style.PRIMARY">
      </nbp-input-radio>
    </div>
    <div class="col-md-2">
      <nbp-input-radio [nbpRadioLabel]="'Danger Radio'" [nbpRadioValue]="'danger'" [nbpRadioName]="'radio3'" [nbpRadioStyle]="_style.DANGER">
      </nbp-input-radio>
    </div>
    <div class="col-md-2">
      <nbp-input-radio [nbpRadioLabel]="'Warning Radio'" [nbpRadioValue]="'warning'" [nbpRadioName]="'radio4'" [nbpRadioStyle]="_style.WARNING">
      </nbp-input-radio>
    </div>
    <div class="col-md-2">
      <nbp-input-radio [nbpRadioLabel]="'Info Radio'" [nbpRadioValue]="'info'" [nbpRadioName]="'radio5'" [nbpRadioStyle]="_style.INFO">
      </nbp-input-radio>
    </div>
    <div class="col-md-2">
      <nbp-input-radio [nbpRadioLabel]="'Success Radio'" [nbpRadioValue]="'success'" [nbpRadioName]="'radio6'" [nbpRadioStyle]="_style.SUCCESS">
      </nbp-input-radio>
    </div>
  </div>
</div>