<div class="container my-5">
    <div class="row text-center">
      <div class="col">
        <nbp-dividing-line-one
            [nbpTitle]="title"
            [nbpColorStyle]="_style.DEFAULT"
          ></nbp-dividing-line-one>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nbp-input-password
        [nbpInputLabel]="_model.component.NbpInputPasswordComponent.label1"
        [nbpInputLabelRequired]="_model.component.NbpInputPasswordComponent.required"
        [nbpInputRequired]="true"
        [nbpInputBorderType]="_style.ROUNDED"
        [nbpInputErrorMessage]="_model.component.NbpInputPasswordComponent.requiredMessage"
        [nbpInputPlaceholder]="_model.component.NbpInputPasswordComponent.placeholder"
        [nbpInputIcon]="_model.component.NbpInputPasswordComponent.hidePassword"
        [nbpInputIconRequired]="true"
        (nbpInputModel)="nbpInputModel($event)"
      ></nbp-input-password>
      <span>Output: {{nbpModel}}</span>
      </div>
      <div class="col-md-6">
        <nbp-input-password
        [nbpInputName]="_model.component.NbpInputPasswordComponent.name"
        [nbpInputValue]="_model.component.NbpInputPasswordComponent.value"
        [nbpInputLabel]="_model.component.NbpInputPasswordComponent.label1"
        [nbpInputLabelRequired]="_model.component.NbpInputPasswordComponent.required"
        [nbpInputErrorMessage]="_model.component.NbpInputPasswordComponent.requiredMessage"
        [nbpInputPlaceholder]="_model.component.NbpInputPasswordComponent.placeholder"
        [nbpInputIcon]="_model.component.NbpInputPasswordComponent.hidePassword"
        [nbpInputDisabled]="true"
        (nbpInputModel)="nbpInputModel($event)"
      ></nbp-input-password>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nbp-input-password
        [nbpInputLabel]="_model.component.NbpInputPasswordComponent.label2"
        [nbpInputLabelRequired]="_model.component.NbpInputPasswordComponent.required"
        [nbpInputBorderType]="_style.ROUNDED"
        [nbpInputErrorMessage]="_model.component.NbpInputPasswordComponent.requiredMessage"
        [nbpInputPlaceholder]="_model.component.NbpInputPasswordComponent.placeholder"
        [nbpInputIcon]="_model.component.NbpInputPasswordComponent.hidePassword"
        [nbpInputIconRequired]="true"
        (nbpInputModel)="nbpInputModel($event)"
      ></nbp-input-password>
      </div>
    </div>
  </div>