<div class="nbp-input-date-two-wrapper">
  <div class="nbp-input-date-container">
    <label
      *ngIf="nbpDatePickerLabelRequired"
      [for]="nbpDatePickerName"
      class="nbp-p2 nbp-color-default nbp-input-date-label nbp-text-capitalize"
    >
      {{ nbpDatePickerLabel }}
      <span *ngIf="nbpDatePickerRequired" class="nbp-color-tomato ml-1">*</span>
    </label>
    <div class="nbp-input-date">
      <input
        [id]="nbpDatePickerId"
        class="form-control nbp-form-control"
        [ngClass]="nbpDatePicker"
        [placeholder]="nbpDatePickerPlaceholder"
        [ngxDatePicker]="dateInstanceSingle"
        [(ngModel)]="nbpModel"
        [value]="singleDate"
        (keyup)="nbpInputKeyUp()"
        (blur)="nbpInputBlur()"
        (focusout)="nbpInputFocusOut()"
        (focus)="nbpInputFocus()"
        (valueChange)="onChangeSingle($event)"
      />
      <ngx-date-picker
        #dateInstanceSingle
        [options]="singleDatePickerOptions"
      ></ngx-date-picker>
      <i class="nbp-input-date-icon" [ngClass]="nbpDatePickerIcon"></i>
    </div>
    <div class="nbp-input-date-error-message" *ngIf="nbpErrorMessage">
      <span class="nbp-input-date-alert">{{ nbpDatePickerErrorMessage }}</span>
    </div>
  </div>
</div>
