<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one [nbpTitle]="title1" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nbp-panel-title-one [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.left"
        [nbpPanelTitleStyle]="_style.DEFAULT" [nbpPanelTitlePosition]="_style.LEFT">
      </nbp-panel-title-one>
      <nbp-panel-title-one [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.left"
        [nbpPanelTitleStyle]="_style.TOMATO" [nbpPanelTitlePosition]="_style.LEFT">
      </nbp-panel-title-one>
      <nbp-panel-title-one [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.center"
        [nbpPanelTitleStyle]="_style.SUCCESS" [nbpPanelTitlePosition]="_style.CENTER">
      </nbp-panel-title-one>
      <nbp-panel-title-one [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.right"
        [nbpPanelTitleStyle]="_style.PRIMARY" [nbpPanelTitlePosition]="_style.RIGHT">
      </nbp-panel-title-one>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one [nbpTitle]="title2" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nbp-panel-title-two [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.normal"
        [nbpPanelTitleStyle]="_style.DEFAULT">
      </nbp-panel-title-two>
      <nbp-panel-title-two [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.normal"
        [nbpPanelTitleStyle]="_style.TOMATO">
      </nbp-panel-title-two>
      <nbp-panel-title-two [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.normal"
        [nbpPanelTitleStyle]="_style.SUCCESS">
      </nbp-panel-title-two>
      <nbp-panel-title-two [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.normal"
        [nbpPanelTitleStyle]="_style.PRIMARY">
      </nbp-panel-title-two>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one [nbpTitle]="title3" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <nbp-panel-title-three
      [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.normal"
      [nbpPanelTitleStyle]="_style.DEFAULT">
    </nbp-panel-title-three>
  </div>
  </div>
  <div class="row">
    <div class="col">
    <nbp-panel-title-three
      [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.normal"
      [nbpPanelTitleStyle]="_style.TOMATO">
    </nbp-panel-title-three>
  </div>
  </div>
  <div class="row">
    <div class="col">
    <nbp-panel-title-three
      [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.normal"
      [nbpPanelTitleStyle]="_style.SUCCESS">
    </nbp-panel-title-three>
  </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one [nbpTitle]="title4" [nbpColorStyle]="_style.DEFAULT"></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <nbp-panel-title-fourth
      [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.normal"
      [nbpPanelTitleStyle]="_style.DEFAULT">
    </nbp-panel-title-fourth>
  </div>
  </div>
  <div class="row">
    <div class="col">
    <nbp-panel-title-fourth
      [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.normal"
      [nbpPanelTitleStyle]="_style.TOMATO">
    </nbp-panel-title-fourth>
  </div>
  </div>
  <div class="row">
    <div class="col">
    <nbp-panel-title-fourth
      [nbpPanelTitle]="_model.component.NbpPanelTitlePageComponent.title.normal"
      [nbpPanelTitleStyle]="_style.SUCCESS">
    </nbp-panel-title-fourth>
  </div>
  </div>
</div>