

    .modal-footer {
        display: flex;
        flex-wrap: wrap;
        padding: 0.75rem;
        border-top: 1px solid var(--nbp-sliver) !important;
        border-bottom-right-radius: calc(0.3rem - 1px);
        border-bottom-left-radius: calc(0.3rem - 1px);
  
        nbp-button {
          &:first-child {
            left: 10px;
            position: absolute;
            float: left;
          }
        }
      }
      .footer {
        display: flex;
        flex-wrap: wrap;
        padding: 0.75rem;
        border-top: 1px solid var(--nbp-sliver) !important;
        border-bottom-right-radius: calc(0.3rem - 1px);
        border-bottom-left-radius: calc(0.3rem - 1px);
  
        nbp-button {
          &:first-child {
            left: 10px;
           // position: absolute;
             float: left;
          }
        }
      }