<div class="container my-5">
    <div class="nbp-background-white">
        <div class="nbp-background-white-smoke" *ngIf="nbpUpdatePatient">
            <nbp-alert-box-fourth *ngIf="!!nbpUpdateErrorMessage.length" [nbpAlertText]="nbpUpdateErrorMessage"
            [nbpAlertType]="_alert.ERROR">
             </nbp-alert-box-fourth>
            <form>
                <div class="row">
                    <div class="col-6 col-md-4">
                        <div class="form-group">
                        <nbp-input-text [nbpInputLabel]="_model.component.NbpPatientComponent.patientId.label"
                            [nbpInputValue]="nbpPatientInitialProfil.patientId" [nbpInputRequired]="true"
                            [nbpInputName]="_model.component.NbpPatientComponent.patientId.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.textInput.required"
                            [nbpInputBorderType]="_style.ROUNDED"
                            [nbpInputPlaceholder]="_model.component.NbpPatientComponent.patientId.placeholder"
                            [nbpInputIcon]="_model.component.NbpPatientComponent.patientId.icon"
                            [nbpInputIconRequired]="true" 
                            (ngModelChange)="enableButton()"
                            (nbpInputModel)="nbpInputModel($event)">
                        </nbp-input-text>
                    </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <nbp-input-radio [nbpRadioLabel]="'M'" [nbpRadioValue]="'info'"
                                    [nbpRadioName]="'radio5'" [nbpRadioStyle]="_style.INFO">
                                </nbp-input-radio>
                            </div>
                            <div class="col-md-2">
                                <nbp-input-radio [nbpRadioLabel]="'F'" [nbpRadioValue]="'success'"
                                    [nbpRadioName]="'radio6'" [nbpRadioStyle]="_style.SUCCESS">
                                </nbp-input-radio>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="form-group">
                        <nbp-input-text [nbpInputLabel]="_model.component.NbpPatientComponent.patientCode.label"
                            [nbpInputValue]="nbpPatientInitialProfil.patientCode"
                            [nbpInputName]="_model.component.NbpPatientComponent.patientCode.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.textInput.required"
                            [nbpInputBorderType]="_style.ROUNDED"
                            [nbpInputPlaceholder]="_model.component.NbpPatientComponent.patientCode.placeholder"
                            [nbpInputIcon]="_model.component.NbpPatientComponent.patientCode.icon"
                            [nbpInputIconRequired]="true" (nbpInputModel)="nbpInputModel($event)">
                        </nbp-input-text>
                        </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                        <nbp-input-text [nbpInputLabel]="_model.component.NbpPatientComponent.patientName.label"
                            [nbpInputValue]="nbpPatientInitialProfil.patientName"
                            [nbpInputName]="_model.component.NbpPatientComponent.patientName.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.textInput.required"
                            [nbpInputBorderType]="_style.ROUNDED"
                            [nbpInputPlaceholder]="_model.component.NbpPatientComponent.patientName.placeholder"
                            [nbpInputIcon]="_model.component.NbpPatientComponent.patientName.icon"
                            [nbpInputIconRequired]="true" (nbpInputModel)="nbpInputModel($event)">
                        </nbp-input-text>
                    </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                        <nbp-input-text [nbpInputLabel]="_model.component.NbpPatientComponent.patientLassName.label"
                            [nbpInputValue]="nbpPatientInitialProfil.patientLassName"
                            [nbpInputName]="_model.component.NbpPatientComponent.patientLassName.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.textInput.required"
                            [nbpInputBorderType]="_style.ROUNDED"
                            [nbpInputPlaceholder]="_model.component.NbpPatientComponent.patientLassName.placeholder"
                            [nbpInputIcon]="_model.component.NbpPatientComponent.patientLassName.icon"
                            [nbpInputIconRequired]="true" (nbpInputModel)="nbpInputModel($event)">
                        </nbp-input-text>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4">
                        <div class="form-group">
                        <nbp-input-text [nbpInputLabel]="_model.component.NbpPatientComponent.patientBirthday.label"
                            [nbpInputValue]="nbpPatientInitialProfil.patientBirthday"
                            [nbpInputName]="_model.component.NbpPatientComponent.patientBirthday.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.textInput.required"
                            [nbpInputBorderType]="_style.ROUNDED"
                            [nbpInputPlaceholder]="_model.component.NbpPatientComponent.patientBirthday.placeholder"
                            [nbpInputType]="'date'"
                            (nbpInputModel)="nbpInputModel($event)">
                        </nbp-input-text>
                    </div>
                    </div>
                    <div class="col-6 col-md-8">
                        <div class="form-group">
                        <nbp-input-text [nbpInputLabel]="_model.component.NbpPatientComponent.patientEmail.label"
                            [nbpInputValue]="nbpPatientInitialProfil.patientEmail"
                            [nbpInputName]="_model.component.NbpPatientComponent.patientEmail.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.textInput.required"
                            [nbpInputBorderType]="_style.ROUNDED"
                            [nbpInputPlaceholder]="_model.component.NbpPatientComponent.patientEmail.placeholder"
                            [nbpInputIcon]="_model.component.NbpPatientComponent.patientEmail.icon"
                            [nbpInputIconRequired]="true" (nbpInputModel)="nbpInputModel($event)">
                        </nbp-input-text>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4">
                        <div class="form-group">
                        <nbp-input-text [nbpInputLabel]="_model.component.NbpPatientComponent.patientAge.label"
                            [nbpInputValue]="nbpPatientInitialProfil.patientAge"
                            [nbpInputName]="_model.component.NbpPatientComponent.patientAge.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.textInput.required"
                            [nbpInputBorderType]="_style.ROUNDED"
                            [nbpInputPlaceholder]="_model.component.NbpPatientComponent.patientAge.placeholder"
                            (nbpInputModel)="nbpInputModel($event)">
                        </nbp-input-text>
                    </div>
                </div>
                    <div class="col-6 col-md-4">
                        <div class="form-group">
                        <nbp-input-text [nbpInputLabel]="_model.component.NbpPatientComponent.patientPhoneNumber.label"
                            [nbpInputValue]="nbpPatientInitialProfil.patientPhoneNumber"
                            [nbpInputName]="_model.component.NbpPatientComponent.patientPhoneNumber.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.textInput.required"
                            [nbpInputBorderType]="_style.ROUNDED"
                            [nbpInputPlaceholder]="_model.component.NbpPatientComponent.patientPhoneNumber.placeholder"
                            [nbpInputIcon]="_model.component.NbpPatientComponent.patientPhoneNumber.icon"
                            [nbpInputIconRequired]="true" (nbpInputModel)="nbpInputModel($event)">
                        </nbp-input-text>
                    </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="form-group">
                        <nbp-input-text [nbpInputLabel]="_model.component.NbpPatientComponent.patientFixNumber.label"
                            [nbpInputValue]="nbpPatientInitialProfil.patientFixNumber"
                            [nbpInputName]="_model.component.NbpPatientComponent.patientFixNumber.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.textInput.required"
                            [nbpInputBorderType]="_style.ROUNDED"
                            [nbpInputPlaceholder]="_model.component.NbpPatientComponent.patientFixNumber.placeholder"
                            [nbpInputIcon]="_model.component.NbpPatientComponent.patientFixNumber.icon"
                            [nbpInputIconRequired]="true" (nbpInputModel)="nbpInputModel($event)">
                        </nbp-input-text>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-9">
                        <div class="form-group">
                        <nbp-input-text [nbpInputLabel]="_model.component.NbpPatientComponent.patientAddress.label"
                            [nbpInputValue]="nbpPatientInitialProfil.patientAddress"
                            [nbpInputName]="_model.component.NbpPatientComponent.patientAddress.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.textInput.required"
                            [nbpInputBorderType]="_style.ROUNDED"
                            [nbpInputPlaceholder]="_model.component.NbpPatientComponent.patientAddress.placeholder"
                            [nbpInputIcon]="_model.component.NbpPatientComponent.patientAddress.icon"
                            [nbpInputIconRequired]="true" (nbpInputModel)="nbpInputModel($event)">
                        </nbp-input-text>
                    </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                        <nbp-input-text [nbpInputLabel]="_model.component.NbpPatientComponent.patientPostcode.label"
                            [nbpInputValue]="nbpPatientInitialProfil.patientPostcode"
                            [nbpInputName]="_model.component.NbpPatientComponent.patientPostcode.name"
                            [nbpInputLabelRequired]="_model.component.NbpAuthComponent.textInput.required"
                            [nbpInputBorderType]="_style.ROUNDED"
                            [nbpInputPlaceholder]="_model.component.NbpPatientComponent.patientPostcode.placeholder"
                            [nbpInputIcon]="_model.component.NbpPatientComponent.patientPostcode.icon"
                            [nbpInputIconRequired]="true" (nbpInputModel)="nbpInputModel($event)">
                        </nbp-input-text>
                    </div>
                    </div>
                    <div class="col-6 col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <nbp-textarea
                              [nbpTextareaLabel]="_model.component.NbpPatientComponent.patientInfoSuppl.label"
                              [nbpTextareaLabelRequired]="_model.component.NbpPatientComponent.patientInfoSuppl.required"
                              [nbpTextareaRows]="_model.component.NbpPatientComponent.rows"
                              [nbpTextareaRequired]="true"
                              [nbpTextareaErrorLengthMaxSup]="_model.component.NbpPatientComponent.patientInfoSuppl.maxLengthMessage"
                              [nbpTextareaPlaceholder]="_model.component.NbpPatientComponent.patientInfoSuppl.placeholder"
                              [nbpTextareaErrorMessage]="_model.component.NbpPatientComponent.patientInfoSuppl.requiredMessage"
                              [nbpTextareaMaxLength]="_model.component.NbpPatientComponent.patientInfoSuppl.maxLength"
                              (nbpInputModel)="nbpInputModel($event)">
                            </nbp-textarea>
                       </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <nbp-textarea
                              [nbpTextareaLabel]="_model.component.NbpPatientComponent.patientDiseases.label"
                              [nbpTextareaLabelRequired]="_model.component.NbpPatientComponent.patientDiseases.required"
                              [nbpTextareaRows]="_model.component.NbpPatientComponent.patientDiseases.rows"
                              [nbpTextareaRequired]="true"
                              [nbpTextareaPlaceholder]="_model.component.NbpPatientComponent.patientDiseases.placeholder"
                              [nbpTextareaErrorLengthMaxSup]="_model.component.NbpPatientComponent.patientDiseases.maxLengthMessage"
                              [nbpTextareaErrorMessage]="_model.component.NbpPatientComponent.patientDiseases.requiredMessage"
                              [nbpTextareaMaxLength]="_model.component.NbpPatientComponent.patientDiseases.maxLength"
                              (nbpInputModel)="nbpInputModel($event)">
                            </nbp-textarea>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                            <nbp-button class="nbp-patient-submit"
                                [nbpButtonLabel]="_model.component.NbpPatientComponent.submitInput.label"
                                [nbpButtonSize]="_size.MD" [nbpButtonColor]="_style.PRIMARY"
                                [nbpButtonType]="_style.OUTLINE" [nbpButtonFullWidth]="true"
                                [nbpButtonDisabled]="nbpUpdateDisabled" (click)="NbpUpdatePatient()">
                            </nbp-button>
                        </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</div>