<div class="nbp-alert-box-wrapper">
  <div class="nbp-alert-box-container">
    <div class="row nbp-alert-box-row">
      <div class="col-md-1">
        <div class="nbp-alert-box-container-icon">
          <span class="nbp-alert-box-icon"><i class="fa fa-edit npb-font-size-28"></i></span>
        </div>
      </div>
      <div class="col-md-11">
        <div class="nbp-alert-box-container-message">
          <div class="nbp-alert-box-icon-close">
            <span><i class="fa fa-remove"></i></span>
          </div>
          <div class="nbp-alert-box-message npb-color-default">
            <span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus eros
              turpis,.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>