<div class="nbp-alert-box-wrapper">
  <div class="nbp-alert-box-container">
    <div class="row">
      <div class="col-md-1">
        <div class="nbp-alert-box-container-icon">
          <span class="nbp-alert-box-icon"><i class="fa fa-edit npb-font-size-28"></i></span>
        </div>
      </div>
      <div class="col-md-11">
        <div class="nbp-alert-box-container-message">
          <div class="nbp-alert-box-icon-close">
            <span><i class="fa fa-remove"></i></span>
          </div>
          <div class="nbp-alert-box-message npb-color-default">
            <span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus eros
              turpis,
              tempor sed purus in, pretium mollis velit. Proin tincidunt sem eget lacus hendrerit, a suscipit ex
              condimentum. Suspendisse potenti. Fusce eget vehicula arcu. Nam malesuada, lectus quis facilisis pretium,
              metus nibh porta nibh, et malesuada leo felis varius nisl. Nam semper eleifend risus, pretium imperdiet
              tortor
              aliquam non. Integer at augue tincidunt, lobortis leo sit amet, ornare nibh. Nulla sed erat vel mauris
              mollis
              aliquam in et felis.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>