.nbp-badge-one-wrapper {
  .nbp-badge-container {
    margin: 0px 5px 8px 0px;
  }
  .nbp-badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.752rem;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    border-radius: 2em;
    .nbp-badge-icon {
      padding: 0px 5px 0px 3px !important;
    }
  }
}
