.nbp-badge-one-wrapper {
  .nbp-badge-container {
    margin: 0px 5px 8px 0px;
  }
  .nbp-badge-icon {
    padding: 0px 5px 0px 3px !important;
    font-size: 28px;
  }
  .nbp-badge-icon + .nbp-badge  {
    top: -15px;
    left: -10px;
    position: relative;
  }
  .nbp-badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.752rem;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    border-radius: 2em;
    min-width: 30px;
    min-height: 30px;
    justify-content: center;
    align-items: center;
  }
}
