.nbp-login-wrapper {
  padding-bottom: 20px;

  .nbp-login-container {
    .nbp-login-title {
      display: flex;
      justify-content: center;
      align-items: center;

      .nbp-login-title-two {
        background: var(--nbp-primary);
        margin: 5px;
        padding: 5px;
        text-transform: capitalize;
        border-radius: 5px;
      }
    }

    .nbp-login-row {
      display: flex;
      justify-content: center;

      .nbp-login-content {
        box-shadow: var(--nbp-box-shadow) !important;
        background-color: var(--nbp-white);
        border-radius: 5px;
        margin: 20px;
        padding: 15px;

        .nbp-login-forgotPassword {
          color: var(--nbp-primary) !important;
          margin: 15px 5px;
          text-align: right;

          a:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
