<div class="nbp-login-wrapper">
  <div class="nbp-login-container container my-3">
    <div class="nbp-login-title">
      <h2 class="nbp-color-primary nbp-login-title-one">System</h2>
      <h6 class="nbp-color-white nbp-login-title-two">Nbp</h6>
    </div>
    <div class="row nbp-login-row">
      <div class="col-md-5 nbp-login-content">
        <nbp-alert-box-fourth
          *ngIf="!!nbpLoginErrorMessage.length"
          [nbpAlertText]="nbpLoginErrorMessage"
          [nbpAlertType]="nbpLoginErrorType"
        >
        </nbp-alert-box-fourth>
        <nbp-alert-box-three
          *ngIf="nbpCheckPassword"
          [nbpAlertText]="nbpCheckPasswordErrorMessage"
          [nbpAlertType]="_alert.ERROR"
        >
        </nbp-alert-box-three>
        <form class="nbp-login-form">
          <h2 class="nbp-color-default">Log In</h2>
          <p class="nbp-p2 nbp-color-default">Be part of the professional development of the secure Nbp System </p>
          <div class="form-group">
            <nbp-input-text
              [nbpInputLabel]="
                _model.component.NbpAuthComponent.textInput.label1
              "
              [nbpInputName]="_model.component.NbpAuthComponent.textInput.name"
              [nbpInputLabelRequired]="
                _model.component.NbpAuthComponent.textInput.required
              "
              [nbpInputRequired]="true"
              [nbpInputBorderType]="_style.ROUNDED"
              [nbpInputErrorMessage]="
                _model.component.NbpAuthComponent.textInput.requiredMessage
              "
              [nbpInputPlaceholder]="
                _model.component.NbpAuthComponent.textInput.placeholder
              "
              [nbpInputIcon]="_model.component.NbpAuthComponent.textInput.icon"
              [nbpInputIconRequired]="true"
              (nbpInputModel)="nbpInputModel($event)"
            >
            </nbp-input-text>
          </div>
          <div class="form-group">
            <nbp-input-password
              [nbpInputLabel]="
                _model.component.NbpAuthComponent.passwordInput.label
              "
              [nbpInputName]="
                _model.component.NbpAuthComponent.passwordInput.name
              "
              [nbpInputLabelRequired]="
                _model.component.NbpAuthComponent.passwordInput.required
              "
              [nbpInputRequired]="true"
              [nbpInputBorderType]="_style.ROUNDED"
              [nbpInputErrorMessage]="
                _model.component.NbpAuthComponent.passwordInput.requiredMessage
              "
              [nbpInputPlaceholder]="
                _model.component.NbpAuthComponent.passwordInput.placeholder
              "
              [nbpInputIcon]="
                _model.component.NbpAuthComponent.passwordInput.hidePassword
              "
              [nbpInputIconRequired]="true"
              (nbpInputModel)="nbpInputModel($event)"
            >
            </nbp-input-password>
          </div>
          <div class="form-group pt-3">
            <nbp-button
              class="nbp-login-submit"
              [nbpButtonLabel]="
                _model.component.NbpAuthComponent.submitInput.login
              "
              [nbpButtonSize]="_size.MD"
              [nbpButtonColor]="_style.PRIMARY"
              [nbpButtonType]="_style.ROUNDED"
              [nbpButtonFullWidth]="true"
              [nbpButtonDisabled]="nbpLoginDisabled"
              (click)="nbpLoginSubmit()"
            >
            </nbp-button>
          </div>
          <div class="form-group nbp-login-forgotPassword">
            <a (click)="nbpForgotPassword()">Forgot your password ?</a>
          </div>
        </form>
        <nbp-dividing-line-one
          [nbpTitle]="_model.component.NbpAuthComponent.newUser"
          [nbpColorStyle]="_style.DEFAULT"
        >
        </nbp-dividing-line-one>
        <div class="form-group pt-3">
          <nbp-button
            [nbpButtonLabel]="
              _model.component.NbpAuthComponent.submitInput.register
            "
            [nbpButtonSize]="_size.MD"
            [nbpButtonColor]="_style.PRIMARYHOVER"
            [nbpButtonType]="_style.OUTLINE"
            [nbpButtonForm]="_style.ROUNDED"
            [nbpButtonFullWidth]="true"
            (click)="nbpRegisterSubmit()"
          >
          </nbp-button>
        </div>
      </div>
    </div>
  </div>
</div>
