<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line
          [nbpTitle]="title"
          [nbpColorStyle]="_style.DEFAULT"
        ></nbp-dividing-line>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nbp-dividing-line
        [nbpTitle]="_model.component.NbpDividingLineComponent.nbpTitle"
        [nbpColorStyle]="_style.DEFAULT"
        [nbpUppercaseTitle]="'true'"
      ></nbp-dividing-line>
      <nbp-dividing-line
        [nbpTitle]="_model.component.NbpDividingLineComponent.nbpTitleCta.title"
        [nbpColorTitle]="_style.PRIMARY"
        [nbpCta]="true"
        [nbpCtaTextShow]="_model.component.NbpDividingLineComponent.nbpTitleCtaReadOnly.cta.show"
        [nbpCtaTextHide]="_model.component.NbpDividingLineComponent.nbpTitleCtaReadOnly.cta.hide"
        [nbpColorStyle]="_style.PRIMARY"
        (nbpOnClickCta)="nbpOnClickCta($event)"
      ></nbp-dividing-line>
      <nbp-dividing-line
        [nbpTitle]="_model.component.NbpDividingLineComponent.nbpTitleCtaReadOnly.title"
        [nbpColorTitle]="_style.DANGER"
        [nbpCta]="true"
        [nbpColorStyle]="_style.DANGER"
        [nbpCtaReadOnly]="true"
        [nbpCtaTextShow]="_model.component.NbpDividingLineComponent.nbpTitleCtaReadOnly.cta.show"
      ></nbp-dividing-line>
      </div>
  </div>
</div>