<div class="nbp-textarea-two-wrapper">
  <div class="nbp-textarea-container">
    <label
      *ngIf="nbpTextareaLabelRequired"
      for="nbpTextareaName"
      class="nbp-p2 nbp-color-default nbp-textarea-text-label nbp-text-capitalize"
    >
      {{ nbpTextareaLabel }}
      <span *ngIf="nbpTextareaRequired" class="nbp-color-tomato ml-1">*</span>
    </label>
    <div class="nbp-textarea">
        <ngx-quill-editor [content]="content" (changed)="onContentChange($event)"></ngx-quill-editor>
    </div>
    <div class="nbp-textarea-errors">
      <div class="nbp-textarea-error-message">
        <span class="nbp-textarea-alert" *ngIf="nbpErrorMessage">{{
          nbpTextareaErrorMessage
        }}</span>
        <span
          class="nbp-textarea-alert-length"
          *ngIf="nbpErrorMessageMaxLength"
        >
          {{ nbpTextareaErrorLengthMaxSup }}
        </span>
      </div>
      <div class="nbp-textarea-error-max-length" *ngIf="nbpErrorLength">
        <span
          class="nbp-textarea-alert-count"
          *ngIf="nbpTextareaErrorLengthMaxSup"
          [ngClass]="{
            'nbp-textarea-error-message-length': nbpErrorMessageMaxLength,
            '': !nbpErrorMessageMaxLength
          }"
          >{{ nbpGetCountWord() }}/{{ nbpTextareaMaxLength }}
        </span>
      </div>
    </div>
  </div>
</div>
