<div class="nbp-input-password-wrapper">
    <div class="nbp-input-password-container">
        <label *ngIf="nbpInputLabelRequired" for="nbpInputName" class="nbp-p2 nbp-color-default nbp-input-password-label nbp-text-capitalize">
        {{nbpInputLabel}} <span *ngIf="nbpInputRequired" class="nbp-color-tomato ml-1">*</span>
        </label>
        <div class="nbp-input-password">
            <input [id]="nbpInputId" 
                [(ngModel)]="nbpModel" 
                (keyup)="nbpInputKeyUp()" 
                [name]="nbpInputName"
                [ngClass]="nbpInput" 
                (blur)="nbpInputBlur()"
                (focusout)="nbpInputFocusOut()" 
                (focus)="nbpInputFocus()"
                class="form-control nbp-form-control"
                [type]="nbpInputType" 
                [placeholder]="nbpInputPlaceholder" 
                [disabled]="nbpInputDisabled"
                [required]="nbpInputRequired" />
            <div class="nbp-input-password-icons">
                <i id="nbp-input-password-icon" class="nbp-input-password-icon" (click)="nbpInputOnShowHide()" [ngClass]="nbpInputIcon" *ngIf="nbpOnShowHideIcon"></i>
                <i class="nbp-input-password-clean-icon" [ngClass]="nbpInputDefault.clean" *ngIf="nbpIsDigitText && !nbpInputDisabled"
                    (click)="nbpInputOnClean()"></i>
            </div>
        </div>
        <div class="nbp-input-password-error-message" *ngIf="nbpErrorMessage">
            <span class="nbp-input-password-alert">{{nbpInputErrorMessage}}</span>
        </div>
    </div>
</div>