/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~datatables.net-dt/css/jquery.dataTables.css";
@import "~datatables.net-responsive-dt/css/responsive.dataTables.css";

@import "assets/scss/nbp-styles-components";

nbp-table-one,
nbp-table-two {
  width: 100% !important;
  padding: 20px 0;
}

// NbpDatePickerComponent
dp-date-picker {
  .dp-input-container {
    .dp-picker-input {
      border: none !important;
    }
  }

  &.dp-material {
    .dp-picker-input {
      font-size: inherit !important;
      cursor: pointer;
      width: 100% !important;
    }
  }
}

.dp-popup {
  top: 6px;
  position: relative;
}

// NbpDropdownListOneComponent
.selection-anchor-close,
.selection-anchor-open,
.selection-anchor-disabled {
  border: none !important;
  border-color: none !important;
  box-shadow: none !important;
  padding: 5px 12px 5px !important;
  font-size: 1rem !important;

  &::after,
  &::before {
    font-size: 15px !important;
    right: -10px !important;
    top: 20px !important;
    color: var(--nbp-primary) !important;
  }

  &:hover,
  &:focus {
    box-shadow: none !important;
  }
}

.selection-anchor-disabled {
  background: var(--nbp-sliver) !important;
  filter: none !important;
}

.selection-clearance {
  border: 1px solid var(--nbp-primary);
  border-radius: 21px;
  width: 25px;
  height: 25px;
  margin-top: 1px;
  color: var(--nbp-white);
  font-size: 1.5rem !important;
  float: right;
  position: initial !important;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 900 !important;
  right: 20px !important;
  background: var(--nbp-primary) !important;

  &:hover {
    color: var(--nbp-white) !important;
  }
}

.dropdown {
  top: 9px;
  border: 1px solid var(--nbp-primary) !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;

  .filter-box {
    border: 1px solid var(--nbp-secondary) !important;
    margin: 10px 5px !important;
    height: 35px !important;
    font-size: 15px !important;
  }

  .with-filter {
    top: 55px !important;
  }

  .no-filter {
    border-radius: 4px !important;
  }

  .options {
    border: 1px solid var(--nbp-primary) !important;
    font-size: 1rem !important;

    item {
      .container-selection {
        &:hover {
          color: var(--nbp-white) !important;
          background-color: var(--nbp-primary) !important;
        }
      }

      .container-selection-selected {
        background: var(--nbp-primary) !important;
        color: var(--nbp-white) !important;
      }
    }
  }
}

// NbpDropdownListTwoComponent
.multiselect-dropdown {
  &:focus {
    outline: none !important;
  }

  .disabled>span {
    background: none !important;
    pointer-events: none;
  }

  .dropdown-btn {
    padding: 4px 0px !important;
    border: none !important;

    .dropdown-multiselect__caret {
      right: -20px !important;

      &:before {
        top: 75% !important;
        border-color: var(--nbp-primary) transparent !important;
        border-width: 11px 6px 0 !important;
      }
    }

    .selected-item {
      max-width: initial !important;
      border: 1px solid var(--nbp-primary) !important;
      background: var(--nbp-primary) !important;

      a {
        padding-left: 10px !important;
      }
    }
  }

  .dropdown-list {
    .filter-textbox {
      border: 2px solid var(--nbp-primary) !important;
      border-radius: 0 !important;
    }
  }
}

.multiselect-item-checkbox {
  &:hover {
    background-color: var(--nbp-primary) !important;

    input[type=checkbox]+div {
      color: var(--nbp-white) !important;
    }

    input[type=checkbox]+div:before {

      color: var(--nbp-white) !important;
      border: 2px solid var(--nbp-white) !important;
    }
  }

  input[type=checkbox]+div:before {

    color: var(--nbp-primary) !important;
    border: 2px solid var(--nbp-primary) !important;
  }

  input[type=checkbox]:checked+div:before {
    background: var(--nbp-primary) !important;
  }
}


// To be fixed later
@media only screen and (max-width: 47.9375em) {
  .nbp-nav ul {
    display: grid;
  }

  .nbp-alert-box-row {
    flex-wrap: wrap !important;
  }

  .nbp-table-one-wrapper {
    .dataTables_wrapper {
      .nbp-table {
        tbody {
          .nbp-table-content-icon-actions {
            .nbp-table-content-icon {
              display: none !important;
            }

            .nbp-table-content-actions-link {
              display: flex;
            }
          }
        }
      }
    }
  }

  .nbp-profile-box-cta-content {
    display: grid !important;
  }
}
