/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~datatables.net-dt/css/jquery.dataTables.css";
@import "~datatables.net-responsive-dt/css/responsive.dataTables.css";

@import "assets/scss/nbp-styles-components";

nbp-table-one,
nbp-table-two {
  width: 100% !important;
  padding: 20px 0;
}

dp-date-picker {
  .dp-input-container {
    .dp-picker-input {
      border: none !important;
    }
  }
  &.dp-material {
    .dp-picker-input {
      font-size: inherit !important;
      cursor: pointer;
    }
  }
}

.dp-popup {
  top: 6px;
  position: relative;
}

// To be fixed later
@media only screen and (max-width: 47.9375em) {
  .nbp-nav ul {
    display: grid;
  }

  .nbp-alert-box-row {
    flex-wrap: wrap !important;
  }

  .nbp-table-one-wrapper {
    .dataTables_wrapper {
      .nbp-table {
        tbody {
          .nbp-table-content-icon-actions {
            .nbp-table-content-icon {
              display: none !important;
            }
            .nbp-table-content-actions-link {
              display: flex;
            }
          }
        }
      }
    }
  }
  
  .nbp-profile-box-cta-content {
    display: grid !important;
  }
}
