/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~datatables.net-dt/css/jquery.dataTables.css";
@import "~datatables.net-responsive-dt/css/responsive.dataTables.css";

@import "assets/scss/nbp-styles-components";

nbp-table-one,
nbp-table-two {
  width: 100% !important;
  padding: 20px 0;
}
