<div class="nbp-checkbox-wrapper">
  <div class="nbp-checkbox-container" [ngClass]="nbpCheckBox">
    <div class="nbp-checkbox-input" [ngClass]="nbpCheckBoxInput">
      <input 
        type="checkbox" 
        class="form-control nbp-form-control" 
        [name]="nbpCheckBoxName" 
        [value]="nbpCheckBoxChecked"
        [(ngModel)]="nbpModel"
        (click)="nbpCheckBoxClick($event)"
        disabled="nbpCheckBoxDisabled"
      />
      <div class="nbp-checkbox-icon-check" [ngClass]="nbpCheckBoxIcon">
        <i class="fa fa-check"></i>
      </div>
    </div>
    <div class="nbp-checkbox-label" (click)="nbpCheckBoxClick($event)">
      <label for="nbpCheckBoxName" class="nbp-font-size-18">{{nbpCheckBoxLabel}}</label>
    </div>
  </div>
</div>
<span>Model: {{nbpModel}}</span>