<div class="nbp-alert-box-wrapper-one">
  <div class="nbp-alert-box-container" [ngClass]="nbpAlertBoxType">
    <div class="row nbp-alert-box-row">
      <div class="col-md-1">
        <div class="nbp-alert-box-container-icon" [ngClass]="nbpAlertBoxBackground">
          <span class="nbp-alert-box-icon"><i class="npb-font-size-40" [ngClass]="nbpAlertBoxIcon"></i></span>
        </div>
      </div>
      <div class="col-md-11">
        <div class="nbp-alert-box-container-message">
          <div *ngIf="nbpClose" class="nbp-alert-box-icon-close" (click)="nbpOnClickClose()">
            <span><i class="fa fa-remove"></i></span>
          </div>
          <div class="nbp-alert-box-message">
            <span>{{nbpAlertText}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>