<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one
          [nbpTitle]="title"
          [nbpColorStyle]="_style.DEFAULT"
        ></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nbp-button [nbpLabel]="_model.component.NbpButtonComponent.label"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpDisabled]="true"
        [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpDisabled]="true"
        [nbpSize]="_size.LG"
      ></nbp-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2">
      <nbp-button 
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpButtonForm]="_style.ROUNDED"
        ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpDisabled]="true"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpDisabled]="true"
        [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpDisabled]="true"
        [nbpSize]="_size.LG"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.PRIMARY"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.PRIMARY"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.SUCCESS"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.SUCCESS"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.SUCCESS"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.SUCCESS"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.SUCCESS"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.SUCCESS"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.SUCCESS"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.SUCCESS"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.SUCCESS"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.SUCCESS"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.SUCCESS"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.SUCCESS"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.DANGER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.DANGER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.DANGER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.DANGER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.DANGER"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.DANGER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.DANGER"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.DANGER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.WARNING"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.WARNING"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.WARNING"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.WARNING"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.WARNING"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.WARNING"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.WARNING"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.WARNING"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.WARNING"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.WARNING"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.WARNING"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.WARNING"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.INFO"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.INFO"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.INFO"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.INFO"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.INFO"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.INFO"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.INFO"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.INFO"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.INFO"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.INFO"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.INFO"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line-one
          [nbpTitle]="titleHover"
          [nbpColorStyle]="_style.DEFAULT"
        ></nbp-dividing-line-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nbp-button 
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DEFAULTHOVER"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DEFAULTHOVER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DEFAULTHOVER"
        [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DEFAULTHOVER"
        [nbpDisabled]="true"
        [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DEFAULTHOVER"
        [nbpSize]="_size.LG"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DEFAULTHOVER"
        [nbpDisabled]="true"
        [nbpSize]="_size.LG"
      ></nbp-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2">
      <nbp-button 
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DEFAULTHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DEFAULTHOVER"
        [nbpDisabled]="true"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DEFAULTHOVER"
        [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DEFAULTHOVER"
        [nbpDisabled]="true"
        [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DEFAULTHOVER"
        [nbpSize]="_size.LG"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DEFAULTHOVER"
        [nbpDisabled]="true"
        [nbpSize]="_size.LG"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
  </div>
  <br />
    <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.PRIMARYHOVER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.PRIMARYHOVER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARYHOVER"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARYHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.PRIMARYHOVER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.PRIMARYHOVER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.PRIMARYHOVER"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.PRIMARYHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARYHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARYHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.PRIMARYHOVER"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.PRIMARYHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.SUCCESSHOVER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.SUCCESSHOVER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.SUCCESSHOVER"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.SUCCESSHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.SUCCESSHOVER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.SUCCESSHOVER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.SUCCESSHOVER"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.SUCCESSHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.SUCCESSHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.SUCCESSHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.SUCCESSHOVER"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.SUCCESSHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DANGERHOVER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DANGERHOVER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.DANGERHOVER"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.DANGERHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.DANGERHOVER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.DANGERHOVER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DANGERHOVER"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.DANGERHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.DANGERHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.DANGERHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.DANGERHOVER"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.DANGERHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.WARNINGHOVER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.WARNINGHOVER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.WARNINGHOVER"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.WARNINGHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.WARNINGHOVER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.WARNINGHOVER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.WARNINGHOVER"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.WARNINGHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.WARNINGHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.WARNINGHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.WARNINGHOVER"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.WARNINGHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.INFOHOVER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.INFOHOVER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.INFOHOVER"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.INFOHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.INFOHOVER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.INFOHOVER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.INFOHOVER"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpColorStyle]="_style.INFOHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.INFOHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.INFOHOVER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.INFOHOVER"
        [nbpButtonForm]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.labelHover"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.INFOHOVER"
        [nbpButtonForm]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
</div>