<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line
          [nbpTitle]="title"
          [nbpColorStyle]="_style.DEFAULT"
        ></nbp-dividing-line>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nbp-button [nbpLabel]="_model.component.NbpButtonComponent.label"></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpDisabled]="true"
        [nbpSize]="_size.MD"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpStyleType]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpDisabled]="true"
        [nbpSize]="_size.LG"
        [nbpStyleType]="_style.ROUNDED"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.PRIMARY"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.PRIMARY"
        [nbpStyleType]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.DANGER"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpColorStyle]="_style.DANGER"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.OUTLINE"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.MD"
        [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.OUTLINE"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.ROUNDED"
      ></nbp-button>
    </div>
    <div class="col-md-2">
      <nbp-button
        [nbpLabel]="_model.component.NbpButtonComponent.label"
        [nbpSize]="_size.LG"
        [nbpColorStyle]="_style.DANGER"
        [nbpStyleType]="_style.ROUNDED"
        [nbpDisabled]="true"
      ></nbp-button>
    </div>
  </div>
</div>