<div class="nbp-link-page-wrapper container my-5">
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line
        [nbpTitle]="title1"
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nbp-deep-link
        [nbpDeepLinkStyle]="_style.DEFAULT"
        [nbpDeepLinkName]="_model.component.NbpLinkPageComponent.name1"
        [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
        [nbpDeepLinkRedirection]="_model.component.NbpLinkPageComponent.href"
        [nbpDeepLinkTarget]="true"
      ></nbp-deep-link>
    </div>
    <div class="col-md-2">
      <nbp-deep-link
        [nbpDeepLinkStyle]="_style.PRIMARY"
        [nbpDeepLinkName]="_model.component.NbpLinkPageComponent.name1"
        [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
        [nbpDeepLinkRedirection]="'/#/composants/alert-boxes'"
        [nbpDeepLinkTarget]="false"
      ></nbp-deep-link>
    </div>
    <div class="col-md-2">
      <nbp-deep-link
        [nbpDeepLinkStyle]="_style.TOMATO"
        [nbpDeepLinkName]="_model.component.NbpLinkPageComponent.name1"
        [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
      ></nbp-deep-link>
    </div>
    <div class="col-md-2">
      <nbp-deep-link
        [nbpDeepLinkStyle]="_style.DANGER"
        [nbpDeepLinkName]="_model.component.NbpLinkPageComponent.name1"
        [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
      ></nbp-deep-link>
    </div>
    <div class="col-md-2">
      <nbp-deep-link
        [nbpDeepLinkStyle]="_style.WARNING"
        [nbpDeepLinkName]="_model.component.NbpLinkPageComponent.name1"
        [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
      ></nbp-deep-link>
    </div>
    <div class="col-md-2">
      <nbp-deep-link
        [nbpDeepLinkStyle]="_style.INFO"
        [nbpDeepLinkName]="_model.component.NbpLinkPageComponent.name1"
        [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
      ></nbp-deep-link>
    </div>
    <div class="col-md-2">
      <nbp-deep-link
        [nbpDeepLinkStyle]="_style.BLACK"
        [nbpDeepLinkName]="_model.component.NbpLinkPageComponent.name1"
        [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
        [nbpDeepLinkPosition]="_style.LEFT"
      ></nbp-deep-link>
    </div>
    <div class="col-md-2">
      <nbp-deep-link
        [nbpDeepLinkStyle]="_style.SUCCESS"
        [nbpDeepLinkName]="_model.component.NbpLinkPageComponent.name1"
        [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
        [nbpDeepLinkPosition]="_style.LEFT"
      ></nbp-deep-link>
    </div>
    <div class="col-md-2">
      <nbp-deep-link
        [nbpDeepLinkStyle]="_style.WARM_GRAY_20"
        [nbpDeepLinkName]="_model.component.NbpLinkPageComponent.name1"
        [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
        [nbpDeepLinkPosition]="_style.LEFT"
      ></nbp-deep-link>
    </div>
    <div class="col-md-2">
      <nbp-deep-link
        [nbpDeepLinkStyle]="_style.NIGHT_RIDER"
        [nbpDeepLinkName]="_model.component.NbpLinkPageComponent.name1"
        [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
        [nbpDeepLinkPosition]="_style.LEFT"
      ></nbp-deep-link>
    </div>
    <div class="col-md-2 nbp-background-black">
      <nbp-deep-link
        [nbpDeepLinkStyle]="_style.WHITE"
        [nbpDeepLinkName]="_model.component.NbpLinkPageComponent.name1"
        [nbpDeepLinkTextTransform]="_pipe.UPPERCASE"
        [nbpDeepLinkPosition]="_style.LEFT"
      ></nbp-deep-link>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <nbp-dividing-line
        [nbpTitle]="title2"
        [nbpColorStyle]="_style.DEFAULT"
      ></nbp-dividing-line>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <nbp-arrow-link
        [nbpArrowLinkStyle]="_style.DEFAULT"
        [nbpArrowLinkName]="_model.component.NbpLinkPageComponent.name2"
        [nbpArrowLinkTextTransform]="_pipe.UPPERCASE"
        [nbpArrowLinkRedirection]="_model.component.NbpLinkPageComponent.href"
        [nbpArrowLinkTarget]="true"
      ></nbp-arrow-link>
    </div>
    <div class="col-md-3">
      <nbp-arrow-link
        [nbpArrowLinkStyle]="_style.PRIMARY"
        [nbpArrowLinkName]="_model.component.NbpLinkPageComponent.name2"
        [nbpArrowLinkTextTransform]="_pipe.UPPERCASE"
        [nbpArrowLinkRedirection]="'/#/composants/alert-boxes'"
        [nbpArrowLinkTarget]="false"
      ></nbp-arrow-link>
    </div>
    <div class="col-md-3">
      <nbp-arrow-link
        [nbpArrowLinkStyle]="_style.TOMATO"
        [nbpArrowLinkName]="_model.component.NbpLinkPageComponent.name2"
        [nbpArrowLinkTextTransform]="_pipe.UPPERCASE"
      ></nbp-arrow-link>
    </div>
    <div class="col-md-3">
      <nbp-arrow-link
        [nbpArrowLinkStyle]="_style.WARNING"
        [nbpArrowLinkName]="_model.component.NbpLinkPageComponent.name2"
        [nbpArrowLinkTextTransform]="_pipe.UPPERCASE"
      ></nbp-arrow-link>
    </div>
    <div class="col-md-3">
      <nbp-arrow-link
        [nbpArrowLinkStyle]="_style.INFO"
        [nbpArrowLinkName]="_model.component.NbpLinkPageComponent.name2"
        [nbpArrowLinkTextTransform]="_pipe.UPPERCASE"
        [nbpArrowLinkPosition]="_style.LEFT"
      ></nbp-arrow-link>
    </div>
    <div class="col-md-3">
      <nbp-arrow-link
        [nbpArrowLinkStyle]="_style.BLACK"
        [nbpArrowLinkName]="_model.component.NbpLinkPageComponent.name2"
        [nbpArrowLinkTextTransform]="_pipe.UPPERCASE"
        [nbpArrowLinkPosition]="_style.LEFT"
      ></nbp-arrow-link>
    </div>
    <div class="col-md-3">
      <nbp-arrow-link
        [nbpArrowLinkStyle]="_style.SUCCESS"
        [nbpArrowLinkName]="_model.component.NbpLinkPageComponent.name2"
        [nbpArrowLinkTextTransform]="_pipe.UPPERCASE"
        [nbpArrowLinkPosition]="_style.LEFT"
      ></nbp-arrow-link>
    </div>
    <div class="col-md-3 nbp-background-black">
      <nbp-arrow-link
        [nbpArrowLinkStyle]="_style.WHITE"
        [nbpArrowLinkName]="_model.component.NbpLinkPageComponent.name2"
        [nbpArrowLinkTextTransform]="_pipe.UPPERCASE"
        [nbpArrowLinkPosition]="_style.LEFT"
      ></nbp-arrow-link>
    </div>
  </div>
</div>
